[2020-08-31 21:54] pirate commented on #461
This Ssould improve dramatically with the v0.5 release that's coming out soon. v0.4 is a transition release where we do lots of slow index writing to make sure the JSON index and SQL index match and are correct. The delays you're seeing are likely because it's actually writing the main index 9 times in your test!

I'll leave this open for now, once the next release drops you should comment back he

[2020-08-31 22:03] pigmonkey commented on #461
Ok, I'll report back with 0.5.

This is running on a Thinkpad x260 (16GB RAM, Intel i7 6600U, SSD) in a virtualenv, not with Docker.

[2020-09-01 00:32] Slusho64 opened #462 "Question: "archivebox: command not found""
Please bear with me as I'm a novice Linux user. I followed the quickstart guide, cloning the git repo and running the setup script, which all went well. however, when I try to run `archivebox add < ~/bookmarks.html` (I put my file in my home/[username] director), it says "archivebox: command not found". Is this a PATH issue? How can I fix this?

I tried on Ubuntu and WSL2 Ubuntu (not sure if this

[2020-09-01 13:10] cdvv7788 commented on #462
@Slusho64 what instructions did you follow? did you run `pip install archivebox`? Can you run `pip freeze` and check that archivebox is in the list?

[2020-09-01 23:46] pirate commented on #458
This should be fixed now on `master`. If you still encounter any issues comment back here and I'll reopen the ticket.

To use `master` immediately without waiting for the next release you can build it directly from Github:
[code]

[2020-09-01 23:46] #458 closed

[2020-09-02 04:06] Slusho64 commented on #462
I used the Quickstart guide, cloning the git and then running the setup script for the dependencies. It didn't say to use pip. I tried pip after reading your comment but I couldn't get it to work for hours until I found a comment that made me realize it's not pip but pip3 that must be run. Now I have ArchiveBox installed and running. However, when I add or update, it gives errors that it could not

[2020-09-02 08:11] pirate commented on #462
WSL is not officially supported, I recommend using Linux or Docker only.

[2020-09-02 18:19] drpfenderson opened #463 "Bugfix: UnhandledPromiseRejectionWarning with singlefile attempt"
#### Describe the bug
Decided to move forward with a clean archive, and keep the old one as a historical snapshot. Added a new list of links to archive, but after 6 or 7, almost all of the tasks start erroring out in cascade fashion, starting with `singlefile` step. Error is `TimeoutExpired Command` for chromium-browser, but it gives me a command to run, which also errors out with `(node:162485) U

[2020-09-02 18:38] cdvv7788 commented on #463
@drpfenderson there is a PR that should fix the issue with the index. You can give it a try (it should be merged this week tho): https://github.com/pirate/ArchiveBox/pull/452

About this issue, I will give it a check.

[2020-09-02 20:32] Slusho64 commented on #462
Thanks for the info on WSL. Any idea why screenshot, PDF, and sometimes DOM don't work on my proper Ubuntu install either? Do I even want DOM (again, I can't find what it is)?

[2020-09-02 20:52] cdvv7788 commented on #462
What error is it raising in those cases? The easiest way to use `archivebox` is docker...this way you avoid missing dependencies.

[2020-09-02 20:54] drpfenderson commented on #463
@cdvv7788 Thanks for pointing me that way.

1. Removed archivebox with `pip uninstall archivebox`
2. Made a new dir, cloned your repo into it, and checked out the `sql_index` branch.
3. Used `pip install -e .` to install.
4. It had some weird issues with the `node_modules` directory, so I removed it with `rm -r` and reinstalled with `npm install --prefix . "git+https://github.com/cdvv/ArchiveBox.g

[2020-09-02 21:42] drpfenderson commented on #412
With the changes present in the `cdvv7788:sql_index` branch, reflected in PR #452, it fixed my issue!

[2020-09-02 21:42] #412 closed

[2020-09-02 21:46] cdvv7788 commented on #412
@pirate I added a final check to avoid duplication in the PR when migrating the index. Check it when reviewing the PR #452

[2020-09-03 14:48] cdvv7788 commented on #463
@drpfenderson It works for me. Can you try running it with docker or installing the npm dependencies? (the quickstart has been updated with the instructions)

[2020-09-03 16:10] drpfenderson commented on #463
@cdvv7788 I get the same timeout using docker/docker-compose, though I am really not sure how to run the `node_modules` commands from inside the docker to see the exact error. If I cd to the directory listed, don't I lose the docker-compose.yml and the path for `node_modules`? I tried researching the exec/run commands a bit to figure out how to execute the `single-file` command from within a conta

[2020-09-04 09:22] gildas-lormeau commented on #463
Author of SingleFile here. This is a a bug in SingleFile due to the presence of "," in the `--browser-args` switch. I'm trying to see how it could be fixed or circumvented. I guess proposing to pass a JSON string was not a good idea.

[2020-09-04 13:35] gildas-lormeau commented on #463
Finally, I was able to fix the issue by formatting the `browser-args` like this:

`--browser-args=\"\"[\"\"--headless\"\", \"\"--no-sandbox\"\", \"\"--disable-gpu\"\", \"\"--disable-dev-shm-usage\"\", \"\"--disable-software-rasterizer\"\", \"\"--window-size=1440,2000\"\", \"\"--user-agent\"=\"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.75 Safar

[2020-09-04 14:39] cdvv7788 commented on #463
Thanks. We definitely need to improve the command so it can be run directly on case of error. I will add that to the pending tasks.

@drpfenderson What is your `TIMEOUT` setting? Have you modified any setting or changed any environment variable? I cannot reproduce it, not even with docker, so I am suspecting you have something unusual in your local setup.

[2020-09-04 15:28] cdvv7788 commented on #463
@drpfenderson I just created a PR that should escape correctly the argument. With that you should be able to, at least, run the command properly, and come back with the error that `singlefile` is returning.

[2020-09-04 18:11] drpfenderson commented on #463
Well, I essentially did a find/replace/delete for every archivebox/node/python file on my system that could be related. There were a number of weird places with files due to the various installation methods I've used over the years for this program. Realizing the amount of work to disentangle everything, I spun up a new server, attached the archive to it, wiped all the local config/conf files, ran

[2020-09-04 18:11] #463 closed

[2020-09-05 05:24] Slusho64 commented on #462
Alright I tried Docker and it wouldn't work in WSL or Ubuntu proper (it wouldn't process anything in the bookmarks file) so I just went back to the previous way I got it working in Ubuntu and ran it, errors be damned. I did run into it hanging on the DOM portion of a site that was no longer online so I edited it out of my HTML file. I've spent as much time as I'd like on this and I got a reasonabl

[2020-09-05 12:25] jmjoom1 opened #467 "ت"

[2020-09-06 09:17] MartinThoma opened #468 "Switch from `logging_util.py` to `rich` package for log output and progress bars"
I'm currently writing an article about logging in Python. As a part of that, I look at other projects and how logging is done there. I've seen `logging_util.py` and was wondering why this project does not use the built-in logging module.

Could somebody share some thoughts around logging? Why is it done like that in this project? Do you consider this a best practice?

[2020-09-07 17:28] pirate commented on #468
It's not a best practice, I just tend to write my own logging utils because I like very fine-grained control over how colored log output appears and I find the `logging` builtin library to be somewhat clunky.

[2020-09-07 19:16] MartinThoma commented on #468
Thank you for answering!

If it's not a best practice, what would you consider a best practice for logging?

Have you given 3rd party logging libraries a try ([structlog](https://pypi.org/project/structlog/), [loguru](https://pypi.org/project/loguru/), [pysnooper](https://pypi.org/project/PySnooper/), or something else)? If so, what do you think of them?

[2020-09-07 19:18] MartinThoma commented on #468
Could you explain that a bit more? What exactly is it that you don't like?

I think I have heard about loguru at [Python bytes](https://de.scribd.com/podcast/419006379/111-loguru-Python-logging-made-simple) and they mentioned that it deals pretty well with colored output (e.g. over various consoles / terminals / within PyCharm)

[2020-09-07 19:46] pirate commented on #468
Those libraries would all be great for a server, e.g. `archivebox server`, but the output is far too verbose/hard-to-tune for a one-shot cli command like `archivebox add`, `archivebox version`, etc.

Because I sometimes want timestamps, I sometimes want color, I sometimes want structured output sections, but not always, I it's easier for me to just hand code it than use a logger that imposes those

[2020-09-07 23:29] dannguyen opened #469 "Feature/Question: is there a way to get Chromium to spoof its browser agent?"
## Type

 - [X ] General question or discussion
 - [ ] Propose a brand new feature
 - [ ] Request modification of existing behavior or design

When trying to capture a tweet, via  a standard call of `archivebox`, i.e.

      $ archivebox add https://twitter.com/jack/status/20

The task seems to complete successfully, other than an irrelevant youtube-dl error (see [output attached to bottom](#mark-

[2020-09-08 15:47] pirate commented on #469
https://github.com/pirate/ArchiveBox/wiki/Configuration#chrome_user_agent

[2020-09-08 15:47] #469 closed

[2020-09-08 16:16] drpfenderson commented on #425
@pirate Is there a way to edit the stored tags on a link in the current version? Or is this more of a future functionality as you mention?

[2020-09-08 16:21] cdvv7788 commented on #425
@drpfenderson I literally just added that in the PR for the upcoming release. It will be editable in the admin.

[2020-09-08 17:22] dannguyen commented on #469
Danke!

[2020-09-09 15:09] dvpc commented on #236
Sorry for the delay. If its still relevant, i attach the patch file (from branch origin/v0.4.3) here.
[fix_json_type_error.patch.txt](https://github.com/pirate/ArchiveBox/files/5196076/fix_json_type_error.patch.txt)

PS
I had to rename the file (add .txt suffix), that seems to be a "wrong" workflow i guess (I didn't fork the project yet).
Hope it helps anyway.

[2020-09-09 15:21] cdvv7788 commented on #236
@dvpc Can you please describe a way to reliably reproduce it, and create a PR if this happens in the latest version?
There have been a LOT of changes, so I would like to make sure it still makes sense. Thanks!

[2020-09-09 21:10] zblesk opened #471 "Can't start a container using a named volume"
#### Describe the bug

Can't get ArchiveBox to run with data in a named volume. If I just map a standard folder, it works though.

#### Steps to reproduce

I'm trying to use docker-compose. My file:

[code]

First I run `docker-compose up --no-start` to create the container and volume without starting anything.

Then, running `docker-compose run archivebox init` keeps failing on permission errors.

[2020-09-09 21:58] zblesk opened #472 "Question: can anon access be disabled?"
I just found ArchiveBox today and will gladly scrap my homebrew archival solution. Great work!

I definitely don't want to have my archive exposed to the world, though. I need the user to be logged in befoe accessing anything. Can this be turned on? I haven't found anything like this so far.

Thanks again!

[2020-09-10 12:31] dvpc commented on #236
@cdvv7788 Sorry i don't have any time now. If it helps, i took a quick look into for example
https://github.com/pirate/ArchiveBox/blob/v0.5.0/archivebox/extractors/archive_org.py and in line 73 for example it still says: `output = err`, which reliably leads to the error described in the first post of this thread:
`TypeError: __init__() missing 5 required positional arguments: 'url', 'code', 'msg',

[2020-09-10 13:40] cdvv7788 commented on #441
@MartinMSPedersen @rfletcher just to confirm, what extractors output is having the issue? Wget?

[2020-09-10 15:37] cdvv7788 commented on #441
Yes, that is our guess too. Thanks for the information!

[2020-09-10 17:28] apkallum commented on #472
There are a few relevant options depending on how you want to configure it. For now, there is `PUBLIC_INDEX` & `PUBLIC_SNAPSHOTS`, both of which you can set to `False`. In the next release (0.5) which should be this week, there will be an option to also enable or disable a the add view for non-logged in users.

[2020-09-10 18:18] pirate commented on #471
After it fails with that error (don't run anything else), what are the permissions on the `./data/ArchiveBox.conf` file? Still 777?

Any particular reason why you're running it on a named volume and not a bind mount? That seems somewhat dangerous.

[2020-09-10 18:42] zblesk commented on #472
Thank you! Seems to work!

I can't find any docs for that. WHat happens if I disable Index but enable Snapshots? Will I be able to hotlink articles, but only logged in users will be able to search/see the list?
Is that a supported use-case?

[2020-09-10 18:48] zblesk commented on #471
Yes, still 777.

Why does it seem dangerous?

On a related note: since I've been eager to try it out, I've enqueued the download of 1000 links. The VM froze three times since then and had to be restarted (not yet sure why); I've noticed no attempt to download the enqueued webs was made. Can this be turned on? Or what is the best way to do it? (I now see about ~100 items are downloaded before the s

[2020-09-10 18:57] cdvv7788 commented on #471
It can crash on low memory systems because there are some bottlenecks with big indexes. The upcoming `0.5` release should help with this. You can run `archivebox update` and it will retry failed links and extractors.

[2020-09-10 19:29] zblesk commented on #471
Thank you. How much memory is enough? The VM has 8GB. I'll try running the next 100 webs and see if there's a spike.

[2020-09-10 23:59] pirate commented on #471
It sounds like you are not memory limited, normally 2GB or even 1GB is enough. Do you see any suspicious log messages around the time it crashes?

The thing about Docker volumes is maybe just a personal paranoia, but I don't like trusting docker's internal filesystem for storing important data long-term. I've lost volumes in the past when moving between machines because they weren't attached to an

[2020-09-12 14:00] 0x326 commented on #49
@pirate I noticed the `--mirror` option is no longer on `master`.  Since there are perhaps two use cases (non-Git users just access the source code via HTTP; Git users might use the archive as a read-only Git remote), could there be a second archive extractor with that saves the Git history using the `--mirror` flag?

[2020-09-12 18:27] digi-ark opened #473 "Bugfix: can't use Python API"
#### Describe the bug

Importing the python API fails: `ImportError: cannot import name 'update' from partially initialized module 'archivebox.main' (most likely due to a circular import)`

#### Steps to reproduce

1. `pip install archivebox`
2. `python -c "from archivebox.main import add"`

#### Screenshots or log output

[code]

#### Software versions

 - OS:                        fedora-32
 -

[2020-09-12 18:33] cdvv7788 commented on #473
@digi-ark what do you intend to do? using directly the `add` function?

[2020-09-12 21:10] kimreyio opened #474 "Feature Request: Switch from youtube-dl to youtube-dlc"
- [ X ] Request modification of existing behavior or design

- Feature Request Reason: Change to new fork of youtube-dl for better site compatibility and ongoing development since youtube-dl seems to be unmaintained.

- Ideal Solution: Replace youtube-dl with youtube-dlc in the dockerfile & any other dependency
Youtube-dlc link https://github.com/blackjack4494/youtube-dlc

- Hacks/Alternatives: sy

[2020-09-13 02:52] pirate commented on #49
Would you be ok with a config flag to choose one or the other @0x326? (I'd like to avoid the extra extractor if possible)

[2020-09-13 02:56] pirate commented on #473
@cdvv7788 ArchiveBox does have a Python API https://docs.archivebox.io/en/latest/archivebox.html that advertises `add` as being usable via Python, but it looks broken via this use case.

@digi-ark have you tried calling `archivebox.config.setup_django()` before that import? It should ensure that all the needed modules are on `sys.PATH` for python to import.

[2020-09-13 03:01] pirate commented on #474
We'll check it out and test if it indeed works for all the common use cases.

In the meantime, if it's a drop-in replacement and you want to use it ASAP, you can set the config value / environment variable `YOUTUBEDL_BINARY=/some/path/to/youtube-dlc`.

`archivebox config --set YOUTUBEDL_BINARY=/some/path/to/youtube-dlc`

[2020-09-13 03:03] pirate commented on #472
Yes, that is a supported use case, and it should work exactly as you described.

`PUBLIC_SNAPSHOTS` = anon users can view hotlinked archived sites
`PUBLIC_INDEX` = anon users can view the full archive index

[2020-09-13 03:06] #472 closed

[2020-09-14 12:06] zblesk commented on #471
Don't know, the problem stopped appearing. Perhaps it was unrelated. 🤷🏻‍♀️

I run `archivebox update` in the docker container, but it's taking a very long time, some 2 minutes per every web page. Can I safely run `archivebox update` multiple times in parallel, without risking some data corruption/DB inconsistency?
(I.e., the links already are in the DB, in 'pending' state - they just haven't been

[2020-09-14 14:13] cdvv7788 commented on #474
I checked youtube-dl's github: https://github.com/ytdl-org/youtube-dl/
It is still active as a project, with a new version released yesterday. I don't think it is worth changing it at this point, given that it is not actually an unmaintained project. Maybe if it starts getting ahead `feature wise` it could make sense.

[2020-09-14 14:40] kimreyio commented on #474
This can be closed, seems they'll probably start working through their PR's after a fork (or 3 now) have popped up too. Awesome that the specific binary can be set with a config option in ArchiveBox. Thank again for the app.

[2020-09-14 15:07] #474 closed

[2020-09-14 18:32] 0x326 commented on #49
@pirate I think a config flag would be a good idea

[2020-09-15 09:56] jaw-sh commented on #454
The archive services I rely on continue to be garbage and I would very much like to switch to ArchiveBox.

[2020-09-15 19:56] zblesk commented on #471
Ok, tried it, didn't work. (Crashes because database locked.)
Is there anything I can do to speed it up?

[2020-09-17 05:39] mcbeav opened #476 "Is It Possible To Run The Web GUI In A Docker Container On HTTPS Without Using A Reverse Proxy?"
For a complicated reason, I need to be able to expose the web ui's port of a docker container instance of archive box as https without using a reverse proxy or nginx. In the installation is specifically says HTTP and NOT HTTPS. Is it possible to change this, and if so, how would I go about doing so?

[2020-09-17 15:20] digi-ark commented on #473
Sorry for the delay @pirate and @cdvv7788. Thanks for the responses. (and congrats on the epic project :slightly_smiling_face: )

I was trying to use the python API example in [the wiki](https://github.com/pirate/ArchiveBox/wiki/Usage#python-api-usage) and got stuck there.

Thanks for the pointer to the Python API. I was looking for that link but couldn't find any pointers. (I've updated [the wiki

[2020-09-17 15:25] apkallum commented on #476
The archivebox container itself does not (and will not) implement an HTTPS connection to itself. Is there a problem with using something like a [caddy container](https://registry.hub.docker.com/_/caddy) in front of it?

[2020-09-17 15:29] #462 closed

[2020-09-18 12:39] mtvu opened #477 "Archiving strategy"
Hi Nick,

I'm currently running archivebox to download all articles from my Pocket service. The size of the downloaded archives is getting larger and I might run out of space on the current disk where I host archivebox. Just wondering if you have any suggestion for archiving the downloaded files. My plan is to run a script which archives ( using tar ) all files downloaded for the month. Hope you h

[2020-09-18 12:50] cdvv7788 commented on #320
@gwern is there that is not possible to do with the suggestions presented here? If that is the case, let me know and I will reopen this issue.

[2020-09-18 12:50] #320 closed

[2020-09-18 13:05] cdvv7788 commented on #261
We are reviewing a better implementation for tags. Once that is done, this should be easier.

[2020-09-18 15:27] adamwolf commented on #22
Hi @pirate! Do you have newer thoughts on how you'd like to see this implemented? (You had most recently mentioned SQLite full-text indexing or RedisSearch in this issue).

[2020-09-19 11:22] MartinMSPedersen commented on #441
Maybe I should close this issue now?

[2020-09-21 14:02] apkallum commented on #477
Are you asking how to archive your archived pages once they are done to save space? `tar` works to reduce total space for non-media files, for media files you can set the `youtube-dl` binary to download with a lower quality. If you can get those files on your personal computer that runs macOS or Windows, you can archive unlimited amount of data for $6/month or pay as you go with something like Bac

[2020-09-22 10:46] mtvu commented on #477
Thanks @apkallum for the suggestion. I'll probably look into reducing the quality of downloaded youtube videos as they do take a bit of space. My current strategy is to create incremental tar backup files. These archive files will then be moved to Google Team Drive with rclone.

[2020-09-22 10:46] #477 closed

[2020-09-22 11:48] ttimasdf commented on #376
Tested on b18bbf88749984d10b04d1c7cfe0cae34257d6e4 , `shm_size` parameter is still needed for Chromium to work. Screenshot is okay without it, but it's still required for PDF output.

[2020-09-22 16:34] pirate commented on #477
@mtvu the recommended approach is to use a compressed + deduped filesystem like ZFS. That will get you the maximum amount of space savings without having to reduce archive quality or manually tar and untar individual files.

https://constantin.glez.de/2011/07/27/zfs-to-dedupe-or-not-dedupe/

[2020-09-22 19:15] pirate commented on #22
I think there are a few possible approaches, I was personally leaning towards starting out by shelling out to something like `ag` or `ripgrep` because it's blindingly simple and only requires a single binary dependency and no database management. That would let us search all the text-based outputs (singlefile, wget, DOM, readability, etc.) using regex or exact strings, and it would be reasonably f

[2020-09-22 19:18] pirate commented on #441
@MartinMSPedersen no, we're still thinking about how to solve this by either storing and replaying headers or converting the encoding on-disk to UTF-8.

[2020-09-22 20:00] cdvv7788 commented on #22
Yes, I can give it a check. If it only stores a search index, that will be better than having all of the text in the database. I will let you know how the experiment goes.

[2020-09-24 14:28] poblabs opened #483 "Bugfix: docker iframe adds /data/ to url incorrectly"
#### Describe the bug
Using the docker-compose.yml instructions, adding a URL works fine. When accessing that URL I get a 404 within the iframe.

#### Steps to reproduce
1. Start docker-compose up
2. Add URL
3. Click on the URL. I get the top bar, but the iframe is a 404

#### Screenshots or log output
It looks like the iframe is trying to go to `http://server/data/archive/1600957105.659589/site/i

[2020-09-24 14:31] cdvv7788 commented on #483
I will give this a check. This may be related to some changes we made to calculate the path to `wget`.

[2020-09-24 14:53] poblabs commented on #483
Also worth noting that clicking this icon here, brings me to this very long incorrect URL.

![image](https://user-images.githubusercontent.com/3484775/94161808-161e1680-fe54-11ea-8fe2-180aef1bc324.png)

`http://server/archive/1600958844.850607//data/archive/1600958844.850607/site/index.html/`

[2020-09-24 15:06] poblabs opened #484 "Bugfix: docker oneshot doesn't appear to be working"
#### Describe the bug
When using docker, oneshot seems broken.

#### Steps to reproduce
Open the container CLI, run `archivebox oneshot "http://website"`, or run it using `docker-compose run archivebox oneshot ...` and it outputs:

[code]

#### Software versions

ArchiveBox v0.4.21 using the latest docker-compose.yml

[2020-09-24 16:11] cdvv7788 commented on #484
Yes. It seems like it is not working as expected. I will fix it asap.

[2020-09-24 16:44] cdvv7788 commented on #484
@poblabs I created a PR that should help with the command. Things to note:
- The oneshot command should be ran in an empty folder, or it will try to download the archive in the current folder
- You can use the `--out-dir` option to better manage where to send the output of the command

[2020-09-24 17:17] poblabs commented on #484
Thanks! I downloaded your branch with the fix to test it, but docker isn't building. I'll keep trying it

[2020-09-24 17:23] cdvv7788 commented on #484
Oh, master is not working at the moment. https://github.com/pirate/ArchiveBox/pull/482 after this PR is merged, I will rebase and it should start working again.

[2020-09-24 17:45] pirate commented on #483
It's probably a `str(Path(...))` that's expanding out to the full path now instead of the old relative path.

[2020-09-24 17:55] cdvv7788 commented on #483
Yes, that is the issue. I fixed the static index, but it seems this one persists. I will take care of this.

[2020-09-24 17:56] cdvv7788 commented on #484
@poblabs please check again with `master`. The fix has been merged and should work properly now. Let me know if it still fails to reopen this.

[2020-09-24 17:56] #484 closed

[2020-09-24 17:59] #476 closed

[2020-09-25 13:15] cdvv7788 commented on #483
@poblabs https://github.com/pirate/ArchiveBox/pull/486 This should fix the issue.

[2020-09-25 13:23] poblabs commented on #483
@cdvv7788 Will I be able to build a new docker image from your `cdvv7788:wget-path` branch?

[2020-09-25 13:25] cdvv7788 commented on #483
Yes, it should be possible. If you are getting any issue, please let me know and I will check it.

[2020-09-25 13:34] poblabs commented on #483
@cdvv7788 It failed.

`docker build . -t archivebox --no-cache`

[code]

[2020-09-25 13:55] cdvv7788 commented on #483
Weird. I just tried building it and it didn't fail. The automated tests were able to build it too. Can you check if there are no modified files in your local copy? (git status). It looks like the `package.json` has issues.

[2020-09-25 14:04] poblabs commented on #483
Strange. I downloaded the zip file into a new directory, ran the docker build and it still failed. I'll try from master and merge your changes to see if I can get that to build.

[2020-09-25 14:14] poblabs commented on #483
That worked, and the fix worked. Thanks!

[2020-09-25 14:21] poblabs commented on #483
Actually, looks like there is still a minor problem.

Clicking this icon adds a trailing slash which messes up the CSS resources. Removing the trailing slash fixes it.

![image](https://user-images.githubusercontent.com/3484775/94161808-161e1680-fe54-11ea-8fe2-180aef1bc324.png)

[2020-09-25 18:26] cdvv7788 commented on #483
Hmmm...it seems this is unrelated. wget is using relative paths (`src="../www.google.com/images/branding/googlelogo/1x/googlelogo_white_background_color_272x92dp.png"`)...it fails to interpret it correctly when there is a trailing slash (the `../` actually points to the current folder instead of moving up 1 level). This is definitely an issue. I will open a new github issue to track it.

[2020-09-25 18:26] #483 closed

[2020-09-25 18:27] poblabs commented on #483
@cdvv7788 I found it. Remove the trailing slash [from this line](https://github.com/pirate/ArchiveBox/blob/master/archivebox/core/utils.py#L17).

`<a href="/{}/{}" .... `

[2020-09-25 18:31] cdvv7788 opened #487 "Bugfix: WGET paths are not working as expected with trailing slashes"
#### Describe the bug
Wget replaces src paths with relative paths. When there is a trailing slash, the relative path fails to point to the correct source.

#### Steps to reproduce

1. Run `archivebox add https://some_url`
2. Start server with `archivebox server`
3. Check the wget output by navigating from the index (https://user-images.githubusercontent.com/3484775/94161808-161e1680-fe54-11ea-8fe2

[2020-09-25 18:33] poblabs commented on #487
I think I found the issue - at least this helped fix it for me.

Remove the trailing slash [from this line](https://github.com/pirate/ArchiveBox/blob/master/archivebox/core/utils.py#L17), so it looks like: `<a href="/{}/{}" .... `

[2020-09-25 18:34] cdvv7788 commented on #483
Yes, it is added in there. However, a trailing slash should not (ideally) break anything at all. I will remove it from that line, but I will leave https://github.com/pirate/ArchiveBox/issues/487 open to find a more permanent solution. Thanks!

[2020-09-25 18:51] cdvv7788 commented on #487
I applied @poblabs suggestions in here: https://github.com/pirate/ArchiveBox/pull/488
@pirate if you think it is worth pursuing a fix that allows those paths to support both versions (with and without slash) let me know and I will dig deeper. Otherwise, just close this issue.

[2020-09-25 20:39] pirate commented on #487
hmm I remember that trailing slash being important for some edge case when opening files from the filesystem before the archiving was finished. It lets you see a directory index rendered by chrome instead of just an error page.

[2020-09-25 22:00] ekiel opened #490 "index not building?"
I just updated the docker container to the latest (Digest:sha256:48a08a1c1e4a2e3480031f25817db57ae398f9720405f5d7495f92a92ced5659) and now when I add links, they seem to process, but the index is no longer rebuilding. I also tried the Django server and my newest archives are no longer showing up.  Here is a snippet of my docker-compose.yml. Currently my archive method is as follows:
[code]
This ha

[2020-09-26 11:29] mobedoor commented on #409
@pirate I got the following error when I ran docker build . -t archivebox. Could I get some help.
Step 22/29 : RUN pip install -e .
 ---> Running in da38b7bcd4b0
Obtaining file:///app
    ERROR: Command errored out with exit status 1:
     command: /usr/local/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/app/setup.py'"'"'; __file__='"'"'/app/setup.py'"'"';f=getattr(tokenize,

[2020-09-26 18:01] poblabs opened #491 "Question: wget problems"
I'm getting this error below on a lot of sites. The archive is failing with the wget command:

[code]

If I remove `--span-hosts` from the wget command, it seems to work somewhat - some stuff is still missing.

Any tips on how to get past this?

[2020-09-26 18:29] poblabs commented on #491
Maybe this is an ipv4 / ipv6 issue? Using `-4` seems to work somewhat too but not entirely.

[2020-09-26 23:44] ekiel commented on #490
I reverted back to the 0.4.21 docker image and it seems to be building now. Is there somewhere I should look to see the diff? I've never deconstructed the layers before.

[2020-09-27 14:05] poblabs commented on #491
On the same sites which wget fails, the chromium singlepage, pdf, etc. also fails. I'm a bit lost on why these normall working sites are failing in these 2 tools

[2020-09-27 14:11] cdvv7788 commented on #491
Can you try changing the user agent? Those sites may be blocking the requests based on that.

[2020-09-27 14:29] poblabs commented on #491
Nope - no change when I set the chrome user agent, or the wget user agent. Can you try adding https://belchertownweather.com and see if it works for you? I have about 6 sites that fail and that is one of them.

[2020-09-27 17:21] digi-ark commented on #473
Not sure if this is a related bug. I'm almost able to use the API with a slightly modified version of the API basic usage example (under "Usage" on the Wiki). But not it fails to detect migrations.

I dug a bit into the source, made some debug prints and found that the 22 migrations it says are not applied are all the migrations possible. And I made sure I had run `archivebox init` to apply any mi

[2020-09-27 17:52] digi-ark commented on #473
A possible part of the above bug might be the fact that in the following line `list_migrations()` does not received `out_dir` like `list_migrations(out_dir=out_dir)`:

https://github.com/pirate/ArchiveBox/blob/0158efb1d0cf142da14808cd39cd508e74fe7e23/archivebox/config/__init__.py#L912

But this does not fully solve the problem

[2020-09-28 01:40] pirate commented on #473
We don't currently support running it from another directory other than the data dir, the `os.chdir(DATA_DIR)` call is mandatory for now. This restriction will likely be liften in a future version once `archivebox oneshot` is released.

[2020-09-28 13:51] ekiel commented on #490
After continuing to test, I'm only able to replicate this problem on 1 of my archive sets. using the same docker-compose.yml I've found that this is what happens - all on the latest docker image.
1. Add links via same method (cat txt file | docker-compose run archivebox add)
*if there are new links in the text file the index is built and works as expected otherwise the index is erased (shows 0 lin

[2020-09-28 14:03] cdvv7788 commented on #490
Hi. Thanks for reporting. What index are we talking about? `index.json`? I will try to reproduce it. The `index.json` file will not be generated automatically anymore. We are moving to the `sqlite` index in the current version. However, at this point it should still be working...can you try this command: `archivebox list --json --with-headers` and check if it outputs your links correctly?

[2020-09-28 14:08] ekiel commented on #490
It is actually the index.html that gets cleared out

[2020-09-28 14:10] cdvv7788 commented on #490
That one will be removed too. You can generate it with `archivebox list --html --with-headers`.

[2020-09-28 14:30] ekiel commented on #490
OK that worked, but is this expected behavior? I would expect that an "archivebox add" wouldn't touch the index if no links are added

[2020-09-28 14:37] cdvv7788 commented on #490
This may be fixed briefly (generating it correctly after `archivebox add`) but this is something that will stop working this way in the short term.

We are in the middle of the index refactor. Those will be completely removed in the future. They will not be updated or touched if they exist. You should not rely on them if you are using `v0.5.x`. The django server now has the list, and will be the c

[2020-09-28 14:43] ekiel commented on #490
ok, thank you for clarifying - I haven't fully embraced the django server functionality as I have 2 archives, but I may consider merging the archives to simplify this usage.

[2020-09-28 14:47] cdvv7788 commented on #490
Please be careful with this process to avoid breaking stuff (copy archives before playing with them). With this change, we expect big archives to behave better. Old indexes were written pretty often, and with big archives this was a BIG bottleneck. The sqlite index should be faster to update, so the overall performance of archivebox should be more stable and less dependent on archive size.

[2020-09-28 21:37] Superbug50 opened #494 "Question: Is there a way to change the default port?"
Is there any way to change the port 8000 to something else like port 8080,8443,81 etc... i can't seem to find it around the internet.

[2020-09-29 02:44] #494 closed

[2020-09-29 15:35] pirate commented on #494
[code]

[2020-09-29 16:24] ekiel commented on #490
OK thanks for your help - now that I know this is expected I'll close this issue.

[2020-09-29 16:24] #490 closed

[2020-10-01 08:38] zblesk opened #496 "Question: what's the current status of the REST API?"
I'd like to add new pages by sending an HTTP request to an endpoint. I saw it mentioned in issues such as #339 and items linked in that thread.

There seemed to be commit names that mentioned adding a REST API, but I haven't been able to find whether those are already implemented and released.

Are they? If so, how do I call them?

I've tried just capturing a request to the "Add" method when I cli

[2020-10-01 22:06] winteriscariot opened #497 "Feature Request: Allow custom DNS -- Blocking Google DNS causes features to fail"
## Type

 - [ ] General question or discussion
 - [ ] Propose a brand new feature
 - [x] Request modification of existing behavior or design

## What is the problem that your feature request solves

When there is no access to Google's DNS (such as if 8.8.8.8 and/or 8.8.4.4 are blackholed) certain failures occur, including retrieval of page title and a number of archival methods, such as Singlefile

[2020-10-02 15:19] pirate commented on #497
That seems odd, it should be using whatever the system default is right now. The only think I can think of is if Chrome hardcodes some 8.8.8.8 DNS hits internally. (Screenshot, PDF, DOM dump, and SingleFile all use Chrome headless)

Does it work with docker compose?

[code]

[2020-10-02 15:21] pirate commented on #409
@mobedoor Possibly something up with your build/git environment, can you try deleting the repo dir and re-cloning it?

Alternatively try pulling the v0.4.21 tag instead of the master branch and building that. https://github.com/pirate/ArchiveBox/releases/tag/v0.4.21

[2020-10-02 15:23] winteriscariot commented on #497
oooh I hadn't considered that it would be a Chrome issue and not an archivebox issue. I'll look into that further; I'm not using docker so the docker compose bits don't apply to me. I'll close this issue for now as a functional workaround is capturing _all_ DNS requests on my network and forwarding to my pihole (mostly to adblock youtube ads on my chromecast but that's a separate thing).

Thanks!

[2020-10-02 15:23] #497 closed

[2020-10-02 19:26] pirate commented on #496
The current status of the API is "unstable" I'd say. Reverse engineering the UI is the way to go for now, but we have plans to stabilize it more in future versions and split out a proper API with django-rest-framework or something so that external tools don't have to shoehorn their needs into requests used by the UI.

[2020-10-03 03:19] mobedoor commented on #409
@pirate Thanks. That fixed it.

[2020-10-03 21:39] XDavidT opened #499 "Question: no pip in Ubuntu 20 only pip3"
Using ubuntu server, there is only option to install pip3 with python3.
I can't find a way to install pip and then run the command's
Using pip3 to install package, I can't do init..

[2020-10-05 15:14] jrruethe opened #500 "Bugfix: Exception thrown from wget extractor"
#### Describe the bug

The Wget extractor is throwing an exception `Failed to archive link: ValueError: '/data/index.html' does not start with '/data/archive/1601694245.432877'`, which appears to originate from [this](https://github.com/pirate/ArchiveBox/blob/3e26ab3ce3695452141d99671dd0e5865ae9a096/archivebox/extractors/wget.py#L182) block of code.

#### Steps to reproduce

I am using `archivebox

[2020-10-05 15:17] cdvv7788 commented on #500
I will check it. It was introduced in the last refactor probably. Thanks for the report.

[2020-10-05 16:28] cdvv7788 commented on #500
We are not able to reproduce the issue. Can you try running `init` before this command? (backup your archive before).

[2020-10-06 18:19] XDavidT opened #501 "Question: [X] Unable to find a working version of Chrome/Chromium, is it installed and in your $PATH?"
I just used installed ArchiveBox on Ubuntu Server 20.04 using pip3.
I can't archive anything since I get this error every time:

Trying to add more site:
`! CHROME_BINARY: unable to find binary (unable to detect version)`

[2020-10-06 18:40] cdvv7788 commented on #501
@XDavidT you need to install chrome as mentioned in the [quickstart](https://github.com/pirate/ArchiveBox#quickstart). You can also disable it, but then half of the extractors will be disabled along chrome.
You will also need to install node and run npm install.

Docker provides a way to run `archivebox` easily, in case this is proving difficult.

[2020-10-06 21:09] XDavidT commented on #501
I think we need to put it before 'How does it work?'
Thx!

[2020-10-06 21:09] #501 closed

[2020-10-07 13:55] jrruethe commented on #500
Yes, I will try this and report back with the results. Thank you

[2020-10-07 15:26] cdvv7788 commented on #461
@pigmonkey did you experience improvements with the current `master` branch?

[2020-10-07 15:30] cdvv7788 commented on #454
@jaw-sh can you try running `archivebox init` with the current master version? Now we try to move everything from the `index.json` to the `index.sql` to avoid conflicts. Maybe this helps with your issue.

[2020-10-07 15:34] cdvv7788 commented on #433
@mauvity can you please check if the current version on master fixes it? We refactored the index internals.

[2020-10-07 16:06] jaw-sh commented on #454
@cdvv7788 I'm inexperienced with Python. I installed via pip. Would there be a straight-forward way of replacing the installation with the repository?

[2020-10-07 16:08] cdvv7788 commented on #454
The easiest way to run it is to use docker. The new version requires node too, so it is getting a little more complex. Maybe wait until the `0.5` version is officially release before we dive into this issue again?

[2020-10-07 16:43] pirate commented on #433
There is still a functional difference between the two ways:

- Delete button = delete the index record and all the archived files
- timestamp -> delete = delete only the index record without removing any archived files (they become orphans that will be re-imported on the next `archivebox init`)

[2020-10-07 17:01] cdvv7788 commented on #433
Oh right, the delete functionality has not been touched in the refactor.

[2020-10-07 17:11] pigmonkey commented on #461
Yes, with the current master branch the speed is much improved. But it still seems to hang at the end without any indication of activity.

[code]

It only takes 1 second from executing the command (16:52:52) to when it begins archiving the new URL (16:52:53), which is great.

The time between beginning to archive the new URL (16:52:53) and showing the success message (16:53:08) is taken up by the

[2020-10-07 17:16] cdvv7788 commented on #461
Well, we are in the middle of a big refactor. The json and html indexes are deprecated, but not yet removed. At the end of every command, they are being rebuild, which can still cause some delays. They will be completely removed from the process in a later iteration.
I need to review the rm command, but the issue is probably the same. I will create a PR removing those bits so you can further exper

[2020-10-08 00:45] pigmonkey commented on #461
Ok. I'm happy to test anything against my archive.

[2020-10-08 16:06] cdvv7788 commented on #461
@pigmonkey just added #502 . Please check how your index behaves with those changes. The `remove` command was indeed re-creating these indexes, which is why that could have been that slow.
Expected behavior: Your `cli` commands should be faster overall, with no long hang ups at the beginning or the end of the process.

Let me know how it goes.

[2020-10-08 23:58] pigmonkey commented on #461
That completely solves the problem.

When running the latest master, the `add` command takes an average of 3 minutes to add a single URL, despite it only taking 10-20 seconds to archive that URL. When using #502, the entire command only adds about a second on top of the archive time.

[code]

Removing is also close to instant.

[code]

The `add` command still prints the hint suggesting that I load

[2020-10-09 13:50] cdvv7788 commented on #461
Good point. I will remove the warning too.

[2020-10-09 14:05] cdvv7788 commented on #499
@XDavidT I will close this one. If your issue persists, let us know and we will reopen it.

[2020-10-09 14:05] #499 closed

[2020-10-09 14:09] cdvv7788 commented on #433
@pirate what should we do about this? Maybe add a confirmation and change both methods to remove the actual files? If the admin is a way to maintain the index, leaving orphaned folders may be unnecessary.

[2020-10-10 01:51] pirate opened #503 "Add ability to configure arbitrary additional CLI args for each dependency"
I'm imagining a feature like this:

`config.py`:
[code]

`extractors/youtubedl.py`:
[code]

This will allow people to self-configure the extractor behavior with much more customizability, without requiring archivebox-level config flags for each separate feature.

[2020-10-10 01:54] pirate commented on #433
I think removing the delete button from the snapshot admin detail page is enough for now. (Leave the delete button on the list page the way it is now).

[2020-10-10 01:55] cdvv7788 commented on #503
How does this work with the refactor to django's settings? Can it be done at the same time? should we get this one out first?

[2020-10-10 02:00] pirate commented on #503
Don't bother with the Django settings refactor for now, I have an idea of how to do it and I'd like to do it myself later on with a module re-organization. Get this one out first as it's quite simple.

[2020-10-12 14:44] cdvv7788 commented on #503
@pirate we have the following `cmd` in the `media` extractor:
[code]
The idea is to remove `SAVE_PLAYLISTS` and `CHECK_SSL_VALIDITY` and pass the new `YOUTUBEDL_ARGS` config, right? The default should contain all of these defaults?

[2020-10-12 14:49] cdvv7788 commented on #332
https://github.com/pirate/ArchiveBox/issues/503 Will allow you to do this, probably.

[2020-10-12 14:52] cdvv7788 commented on #247
We are refactoring this to use a proper `Tag` model. It should be available soon.

[2020-10-13 13:27] jrruethe commented on #500
This issue can be closed. I tried a few things, I'm not sure exactly what fixed it, but here is what I did:

1) Made a backup
2) Deleted the offending file `data/index.html`
3) `archivebox init`
4) `archivebox add ...`

This ran for a bit, then completed successfully.

Thank you!

[2020-10-13 13:30] cdvv7788 opened #504 "Feature Request: Add flag to add/update to handpick which extractors to use"
## Type

 - [ ] General question or discussion
 - [ ] Propose a brand new feature
 - [X] Request modification of existing behavior or design

## What is the problem that your feature request solves
Configuring extractors by hand is troublesome. Sometimes you just need to quickly run `archivebox` with some specific extractors. Instead of setting all the flags to disable the extractors, a flag that

[2020-10-14 15:41] cdvv7788 commented on #503
@pirate I just pushed a commit (https://github.com/pirate/ArchiveBox/pull/506). Can you please check if that is what you had in mind? I will wait until you check it to move forward with other extractors.

[2020-10-17 19:41] jrruethe commented on #500
I have hit this exception again. I'm still investigating to see if this is something strange with my setup / configuration. The following occurred with Docker image `nikisweeting/archivebox@sha256:5810591719d05f15cb3af20fce517fb9866f468dda23e321e8312a4baa455009`, it appears to be right at the end when it should be writing out the `/data/index.html` file. The `/data/index.json` file was properly wr

[2020-10-19 14:58] cdvv7788 commented on #500
@jrruethe can you try with this branch? https://github.com/pirate/ArchiveBox/pull/502
you will need to build the image yourself:
`docker build -t archivebox --no-cache`
The actual archiving should be faster in that branch, making testing easier.

[2020-10-19 18:45] jrruethe commented on #500
Sure, I will give that a try later this week and report back my results. Thank you.

[2020-10-19 19:04] mAAdhaTTah commented on #496
@pirate I would be interested in working on this. I shot you an email a week or so ago cuz I think the underlying data model needs to be solidified and would love to help move this along. Let me know how I can help.

[2020-10-19 19:09] cdvv7788 commented on #496
@mAAdhaTTah that is great! Currently, on master, we have the sqlite database working. We can now start working with `django-rest-framework` to enable a proper API (Like @pirate mentioned).
What are the issues that you are finding with the data model? Something that needs to be improved? We can start the discussion here, so we can all have the proper context, and find a way to get started soon.

[2020-10-19 19:31] mAAdhaTTah commented on #496
@cdvv7788 Generally, I think the split/transformation between Link <-> Snapshot is a bit weird. Snapshot seems to be db-only (it's transformed into Link's as it's fetched out of the db for most of the operations I was looking at). I also think the double duty of `timestamp` being "the time it was bookmarked" as well as "the path in the archive" is a bit of an issue. From my email:

(For context, I

[2020-10-19 19:48] cdvv7788 commented on #496
@mAAdhaTTah We have discussed those topics before. I think that @pirate has some progress on the timestamp issue, and it will be changed once we come up with a good solution.
The Link <-> Snapshot stuff is a leftover of the recent migration. In the latest release (v4.x), Link was generated from the `index.json`, and Snapshot was updated on a best effort basis. After the refactor, this has changed,

[2020-10-19 20:13] mAAdhaTTah commented on #496
So my thinking/proposal is to actually remove the `Link` schema, migrate what is currently considered a `Snapshot` to be a `Link` instead (mostly as a naming convention change), then _add_ ` Snapshot` that represents a single download of a website. Based on your explanation, I think we'd need to include a migration in v0.5 that migrates the index.json into the db, then once we're solely dependent

[2020-10-19 20:25] cdvv7788 commented on #496
At this moment we only have the means to represent a single download per website. I understand what you propose, and that does make sense. At this point we already migrated the `index.json` into the sqlite database. In fact, if you check https://github.com/pirate/ArchiveBox/pull/502, we are already removing the automatic generation of those indexes completely. This, however, cannot be done without

[2020-10-19 20:32] mAAdhaTTah commented on #496
All of this makes sense so far. I can do some investigating and see what I can come up with. Just to clarify, when you say "use that model", is that "interacting with it" or is importing it enough to make it fail?

[2020-10-19 20:44] cdvv7788 commented on #496
Importing it is enough to make it fail. There is a method that you will find around named `django_setup` which initializes what is required.

[2020-10-20 12:27] cdvv7788 commented on #244
With the change to the sqlite database is this still an issue? The index.json is not generated automatically, and the sql index does not have absolute paths anywhere. I can double check, but I don't think the web UI has the issue either.

[2020-10-20 12:31] cdvv7788 commented on #491
@poblabs I was able to add it without any issues:
![image](https://user-images.githubusercontent.com/5531776/96586083-14eed680-12a6-11eb-8bf7-6fa704bf60e2.png)

This seems to be a network issue. Can you try running it on a VPN?

[2020-10-20 13:27] poblabs commented on #491
Strange. When trying it on localhost to the website (I own the website), it still gives me an error but this time with chromium.

I am running this in docker.

wget appears to work but it's not downloading everything. Some JS files are 404'ing.

Not sure what to make of it.

[code]

[2020-10-20 13:30] cdvv7788 commented on #491
What docker image are you using? Can you try building an image with the version on `master` and try again? (`docker build -t archivebox --no-cache`).
You can also try the individual commands, to see how they are failing. That may give us more information.

[2020-10-20 13:43] poblabs commented on #491
Same result with master built docker. It seems to be the 1 website of mine giving me problems. I just tried a bunch more and they seem ok. Not sure why mine is special but I don't think this is an archivebox problem. 🤷🏻‍♂️

[2020-10-20 13:43] #491 closed

[2020-10-20 13:47] cdvv7788 commented on #491
@poblabs feel free to re-open the issue if you find something that we can help with.

[2020-10-20 14:01] cdvv7788 opened #508 "Bugfix: Issue with tags on tests"
#### Describe the bug
The docker tests are breaking because the wrong table is being referenced when trying to retrieve tags: https://github.com/pirate/ArchiveBox/runs/1281187367?check_suite_focus=true

#### Steps to reproduce
Run the tests for docker in github actions.

#### Screenshots or log output
[code]

[2020-10-20 14:01] cdvv7788 commented on #508
It looks like the cause of this is in the merge/dedupe logic that still has the old `tags` logic. I am working on fixing this.

[2020-10-21 21:22] pirate commented on #496
I don't believe we need Link or Snapshot anywhere that Django is not initialized, so that is a non-issue. If you're worried about `oneshot` I have an idea to fix that (we can discuss more in Zulip).

[2020-10-22 13:17] cdvv7788 commented on #508
Fixed with PR. Closing.

[2020-10-22 13:17] #508 closed

[2020-10-22 13:45] cdvv7788 opened #511 "Update github actions to remove set-env"
#### Describe the bug
https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

#### Steps to reproduce
Check actions log for anything after october 1st.

#### Screenshots or log output
![image](https://user-images.githubusercontent.com/5531776/96880533-e3f7d880-1442-11eb-98e8-6e86d55510d0.png)

[2020-10-22 18:43] pirate commented on #244
I believe absolute paths are still used in the `archive/<timestamp>/index.json` files, but I could be wrong.

[2020-10-22 18:58] cdvv7788 commented on #244
Good point. I will double check.

[2020-10-22 18:58] pirate commented on #500
wow a 4GB `index.json`! I am sorry you had to suffer through that file being rewritten so many times in the old version. As @cdvv7788 the situation is much improved after #502. The new release with that improvement should be out within the next week or two.

[2020-10-22 19:10] jrruethe commented on #500
No suffering at all, I have it running on a cronjob in the background and I don't check on it too often, so I didn't notice for a while.

Honestly, Archivebox handles the large archive pretty well, I've been impressed.

I haven't had a chance to try out the #502 branch yet, I'll see if I can get to it soon.

Thanks!

[2020-10-22 21:30] jrruethe commented on #500
Ok, I tested out this branch, and it fixes the exception. This issue can be closed again.

Right now, I am using an `nginx` container to serve the `data/index.html` file, but I am going to work on switching to the `archivebox server` method.

Thanks!

[2020-10-22 21:30] #500 closed

[2020-10-22 21:33] cdvv7788 commented on #500
Glad it worked. Let us know if it reappears.

[2020-10-23 13:26] mAAdhaTTah commented on #496
@pirate Does that change if the idea is to turn Link & Snapshot into db models?

[2020-10-24 18:48] pirate opened #513 "Move ArchiveResults into the SQL db to avoid checking the filesystem for every Snapshot output status"
Right now archivebox.zervice.io is taking 6s+ to load because it has to check the filesystem many times for each row on the page during the template rendering process.

We can load the `ArchiveResult`s entries from the `archive/<timestamp>/index.json` files into the sqlite3 db. This will eliminate checking each output path on the filesystem every time we want to see whether it completed or not.

!

[2020-10-25 11:23] kai11 commented on #249
I had this problem in my setup and write notes on SOCKS5 proxy.
https://gist.github.com/kai11/e91c6fad990c6490b2a4fe8c4defebfe

[2020-10-25 12:20] karlicoss commented on #91
Even more cores than 8 might make sense, because often things are blocked on IO with no throughput, e.g. pages that would timeout. Might need some careful scheduling, but would be very cool to have!
Another IMO useful thing is having some sort of "pipeline" concurrency, e.g. one executor only archives DOM and always runs in front. The other executors run behind and handle singlepage/screenshots/me

[2020-10-25 16:27] thethales opened #514 "Webrecorder.io changed to Conifer by Rhizome"
## Wiki Page URL
https://github.com/pirate/ArchiveBox/wiki/Web-Archiving-Community

## Suggested Edit
Greetings,

The page listed above needs some link/info corrections regarding the recent changes on  _Webrecorder.io_. Rhizome took over permanent stewardship of Webrecorder.iochanging the name to "[Conifer by Rhizome](https://conifer.rhizome.org/)" and making the Webrecorder.io  (now [Webrecorder.

[2020-10-26 11:55] cdvv7788 commented on #513
I will create a model and associate its instances with the `Snapshot` via foreign keys. Is that what you have in mind? @pirate

[2020-10-26 12:14] #511 closed

[2020-10-29 15:46] ThomDap opened #516 "Setting CHROME_USER_DATA_DIR"
Hi, I am struggling to set my CHROME_USER_DATA_DIR in order to archive some webpages behind logins-walls.
Cf screenshots.
Thank you for your help.

<img width="455" alt="Screen Shot 2020-10-29 at 16 42 06" src="https://user-images.githubusercontent.com/10841592/97597404-12a71d80-1a06-11eb-895c-2fd5dcfcbcb8.png">
<img width="963" alt="Screen Shot 2020-10-29 at 16 44 39" src="https://user-images.git

[2020-10-29 16:06] cdvv7788 commented on #516
@ThomDap According to https://github.com/pirate/ArchiveBox/wiki/Configuration#chrome_user_data_dir , I ran that command passing a folder with a `Default` inside, and I got:

[code]

Double check that your folder has a file named `Default`.

[2020-10-29 16:14] cdvv7788 commented on #516
I found an issue with this setup and you will likely find it if you set the folder correctly. I created a PR for it, so it should make it to master soon. By the way, what version are you running?

[2020-10-29 17:04] ThomDap commented on #516
@cdvv7788 Thank you for your very quick reply.
I triple-checked the instructions of the wiki. There is a Default folder in my Chrome folder, you can see it in the screenshot.
I'm running the lastest version.

[2020-10-29 17:07] cdvv7788 commented on #516
Can you try with the current `master`? Take a backup of your archive before that.

[2020-10-29 17:16] ThomDap commented on #516
Just tried with the new master. I got this error :
![image](https://user-images.githubusercontent.com/10841592/97608598-d928df00-1a12-11eb-9754-a61c20b5173f.png)

[2020-10-29 17:17] ThomDap commented on #516
👏👏  I typed the entire command by hand (I didn't paste it) ant it worked !
Thanks a lot

[2020-10-29 17:22] cdvv7788 commented on #516
Not sure in your case. We have big changes between v0.4 and v0.5, so it may have been fixed in there. I created a PR for an issue that is still happening in master tho, so we are still ironing it out.
If you find any issue, let us know. Thanks!

[2020-10-29 17:22] #516 closed

[2020-10-31 04:11] pirate opened #521 "Pip install errors on master"
[code]

[2020-10-31 23:39] pirate commented on #406
Fixed 🎉 7d4738a

[2020-10-31 23:39] #406 closed

[2020-11-02 13:30] cdvv7788 commented on #521
[code]
I am getting the error, but that is only for building the wheels. If you add a `setup_requires` list with the `wheel` package in `setup.py`, it will work. `archivebox` will work correctly even if pip is unable to build the wheel for the project.

[2020-11-03 13:47] cdvv7788 commented on #521
Closing because the PR is merged. Please reopen if it persists.

[2020-11-03 13:47] #521 closed

[2020-11-03 13:58] LaazV opened #523 "Documentation: Fix docker-compose.yml url on README.md"
## Wiki Page URL
https://github.com/pirate/ArchiveBox/blob/master/README.md

## Suggested Edit
On the README.md file, on line 199, it's written `wget 'https://github.com/pirate/ArchiveBox/blob/master/docker-compose.yml` when it should be `https://raw.githubusercontent.com/pirate/ArchiveBox/master/docker-compose.yml`

I had a bit of trouble installing ArchiveBox because it kept giving me docker-com

[2020-11-03 17:23] #523 closed

[2020-11-04 21:51] tmladek opened #526 "any docker image command results in "[dumb-init] No such file or directory"?"
I'm trying to follow the guide in the README, but no matter what command I run with the image, I get basically the same error:

[code]
Or with docker-compose:
[code]

[code]

I looked around in the project's issues and also tried Googling, but of no avail.

[2020-11-04 22:06] cdvv7788 commented on #526
@tmladek what Image are you using? I am testing with the current master and I cannot reproduce it.

[2020-11-05 08:27] tmladek commented on #526
Oh wow, that's stupid! I did have an outdated image, I must have already tried to run archivebox on that machine and forgot about it. I thought that by running `nikisweeting/archivebox:latest` as per the `docker-compose.yml`, I am really getting the `latest` image.

Anyway, thanks!

[2020-11-05 08:27] #526 closed

[2020-11-06 01:52] jmcree opened #527 "Changine Docker Port Breaks Web UI"
I'm on unraid and using the repository from nikisweeting/archivebox:latest

By default the docker uses port 8000. This is already taken on my system and when I try to change it to say port 5000, the webUI says it cannot reach this page. I have changed the port in the basic docker setting, specified the webUI url in the advanced docker settings to use port 5000 and told the server to run on 0.0.0.0

[2020-11-06 12:34] blackberryoctopus commented on #456
@pirate I'm wondering if there's any update on this issue? If not, what changes need to be made to better inform users when they attempt archiving on unsupported drive volumes?

[2020-11-09 18:25] sistein opened #530 "Installation fails on new Debian 10.5 using autoscript"
I have a brand new Debian 10.5 image.

[code]

I think the problem is that Chromium is no longer called chromium-browser but now chromium.

[2020-11-09 20:07] pirate commented on #530
Honestly I don't like or recommend the auto install script route, you should install it manually. `curl | sh` is evil https://docs.sweeting.me/s/against-curl-sh

I'm tempted to just remove this script entirely rather than keep supporting it.

[2020-11-09 20:09] #530 closed

[2020-11-09 20:28] sistein commented on #530
I'm totally okay with completely removing it ;-). I would propose then to add "sudo" and creating user and group to the guide.

Thank you for your work!

[2020-11-10 06:08] pirate commented on #456
Fixed: https://github.com/pirate/ArchiveBox/commit/fbd9a7caa6c227a59c16028cd00b059d60cba0a7

[2020-11-10 06:08] #456 closed

[2020-11-10 13:09] blackberryoctopus commented on #456
Thank you!

On Tue, Nov 10, 2020 at 1:08 AM Nick Sweeting <notifications@github.com>
wrote:

--
This email is intended only for the addressee(s) and may contain
confidential information. If you are not
the intended recipient, you are hereby notified that any use of this
information,
dissemination, distribution, or copying of this email without permission is
strictly prohibited.

[2020-11-11 14:21] mAAdhaTTah opened #531 "Feature Request: One-Click Deploy"
[DigitalOcean is launching a one-click deploy for it's AppPlatform.](https://www.digitalocean.com/docs/app-platform/how-to/add-deploy-do-button/) This won't work for us yet because we would need to attach a Volume, which AppPlatform doesn't support, but the documentation linked suggests it will soon/eventually. Alternatively, we could look into configuring it for Heroku.

I'm happy to take the lea

[2020-11-12 01:10] pirate commented on #527
What are the exact commands you're running to start it? Can you post your config file and some log output as well.

[2020-11-12 01:15] pirate commented on #425
Closing this because it's finished in the latest release.

[2020-11-12 01:15] #425 closed

[2020-11-12 01:35] jmcree commented on #527
Hey. You can close this.. I was just going though and getting all of the screenshots and logs for you and had an idea.. instead of putting "server 0.0.0.0:8000" in the docker settings I manually start the server from the console "archivebox server 0.0.0.0:8000". well, in my attempts to move it to port 5000, i was putting 5000 here too. I just started it from using the 8000 (what i now realize the

[2020-11-12 01:49] cdvv7788 commented on #527
Tags can be added from the admin in the latest version. You can build the image yourself with the contents of `master`
 while we release a new image.

[2020-11-12 01:49] #527 closed

[2020-11-12 10:30] umairsiddiqui-digitek opened #532 "Documenting native Windows support without WSL or WSL2"
hi,
following the README, i performed following (on windows)
[code]

but i am getting following error

[code]

my  requirements.txt contains:
[code]

[2020-11-12 11:08] umairsiddiqui-digitek commented on #532
ok i downloaded wget for windows from

[code]
now init command is working. maybe update README for windows case?

[code]

[2020-11-12 15:08] kedorlaomer opened #533 "JPEG image misunderstood as website"
My environment is as follows:

* `python3 --version` says `Python 3.8.6`
* I got archivebox via `pip3 install`
* The version of archivebox is `ArchiveBox v0.4.21` (do you need more of its output?)
* The whole mess runs on alpine linux, if this is of any interest
* anything more needed?

I did the following:
1. `python -m archivebox init`
2. `python3 -m archivebox config --set SAVE_ARCHIVE_DOT_ORG=

[2020-11-12 16:50] cdvv7788 commented on #533
This issue is already fixed on `master`. You can try using that version by cloning and then running `pip install .` in the project folder.
Please give that a try, and reopen if it still happens on that version.

[2020-11-12 16:50] #533 closed

[2020-11-12 19:26] pirate commented on #532
I'm assuming this is in the WSL2, or did you run this directly on windows? If so that's quite surprising, last I checked there were a number of blockers preventing it from working.

[2020-11-13 03:36] jackitsdotcom opened #534 "Raspberry Pi: "exec format error""
#### Describe the bug

When I try and run the second command as provided in the Quickstart I get an error as below.
Let me know if there's anything I can do to help. Thankyou.

#### Steps to reproduce

[code]

#### Screenshots or log output

`standard_init_linux.go:211: exec user process caused "exec format error"`
#### Software versions

 - OS:               Raspbian 10 (buster)
 - Python version

[2020-11-13 06:33] umairsiddiqui-digitek commented on #532
I was actually running it on windows7, so no wsl. Then I switched to docker. Didn't check on win10

[2020-11-13 08:06] pirate commented on #534
You need to build the image on arm for it to work on arm.

[code]

[2020-11-13 14:32] cdvv7788 commented on #461
This is solved on master. Please reopen if there is something still pending.

[2020-11-13 14:32] #461 closed

[2020-11-13 19:40] cdvv7788 commented on #261
@pirate LGTM. Can you give this a check please?

[2020-11-13 19:47] cdvv7788 commented on #332
@degan6 https://github.com/pirate/ArchiveBox/pull/506/files this was merged already. You can play with the config for YOUTUBE_DL and control it however you want. Please reopen if this is not enough for your needs.

[2020-11-13 19:47] #332 closed

[2020-11-13 19:48] cdvv7788 commented on #503
@pirate Closing this. Please reopen if there is something else we are missing for this.

[2020-11-13 19:48] #503 closed

[2020-11-13 19:56] pirate commented on #261
This is complete, you can now filter by tag in the UI by using the filter options on the right, then select all using the checkboxes and click "delete". Or you can use the cli using the new `archivebox remove --filter-type=tag abc` option.

These features are on `master` currently and will be available in the next release.

[2020-11-13 19:56] #261 closed

[2020-11-13 21:11] apkallum commented on #455
@techied sorry for the delay, but I'm happy to tell you that it's already been implemented. There is a config flag called `PUBLIC_ADD_VIEW`, if you set it to `True`, you should be able to access the add view without logging in.

[2020-11-13 21:11] #455 closed

[2020-11-14 17:39] TheCakeIsNaOH opened #538 "Feature Request: Import links directly from xBrowserSync"
## Type

 - [x] General question or discussion
 - [x] Propose a brand new feature
 - [ ] Request modification of existing behavior or design

## What is the problem that your feature request solves

I would like to be able to add the links I have bookmarked in [xBrowserSync](https://www.xbrowsersync.org/) directly into ArchiveBox.

## Describe the ideal specific solution you'd want, and whether it

[2020-11-14 21:38] mAAdhaTTah commented on #121
Related to #528.

[2020-11-15 23:29] urbien commented on #22
This feature would make a dream come true thing for me. My personal itch is "where did I see this recently"? I usually can also add when I saw it approximately, e.g. last month or 3-4 months ago. Google can't answer this question for me and no amount of bookmarking helps me.

Elasticsearch is an overkill, but the underlying Lucene engine is just a library that will do the job without any server. B

[2020-11-16 10:03] chrismeller commented on #534
@pirate You can actually use docker buildx to build images for different architectures. For instance, I use this to build for my Pi3 from my Windows desktop:

`docker buildx build --platform=linux/arm/v7 .`

[2020-11-16 10:56] jackitsdotcom commented on #534
Thankyou for your help here.
The build completed successfully, but now upon running init I get this error:

`redacted@redacted:~/ArchiveBox $ docker run -v ~/archivebox:/data -it archivebox init
[i] [2020-11-16 10:55:20] ArchiveBox v0.4.21: archivebox init

[+] Initializing a new ArchiveBox collection in this folder...
    /data
------------------------------------------------------------------

[

[2020-11-16 13:41] Prn-Ice opened #539 "Question: ... How to fix Permission denied: '/data'"
I'm following the setup instructions using `docker-compose`.

When I run `docker-compose run archivebox init`
I get
[code]

Please how can I fix this?

[2020-11-16 15:25] pirate commented on #539
`chmod -R 777 data`

[2020-11-16 15:38] Prn-Ice commented on #539
I get `chmod: changing permissions of 'data/': Operation not permitted`
I tried with sudo, but still get the same error when I run `docker-compose run archivebox init`

[2020-11-19 18:30] kodxana commented on #539
@Prn-Ice had that same issue. First delete existing data folder the create it again with ```mkdir data``` command :)

[2020-11-19 19:16] pirate commented on #539
that should not be necessary. I don't know why a `sudo chmod -R 777` doesn't work. What user are you running the docker-compose commands as, and what OS are you on?

[2020-11-21 15:34] jdcaballerov opened #544 "Question / Bug : What's the intended use of `--index-only` on the update command ?"
The update command code path starts in `archivebox_update.py` calling the `update` function as follows:

[code]
No capture of the return value. If `--index-only` is passed the `update` function in `archivbox.main.py` is executed as follows:

[code]

Then nothing is happening with the output of this codepath. What's the current or intended use?

[2020-11-21 17:33] pirate commented on #544
It's supposed to only write the json and HTML index files for the links without running any extractors.

[2020-11-21 17:36] fdplacido commented on #534
@jackitsdotcom instead of using the volume (`-v`) with `~/archivebox:/data`, create some directory yourself and point to it (or change `~/archivebox` permissions:
[code]

Otherwise the folder can be only written by root, that's why it said Permission denied.

[2020-11-21 17:54] cdvv7788 commented on #544
@pirate this flag is for updating the index-only, not for generating the legacy indexes. I need to review if something happened to if during the migration.

[2020-11-22 06:13] ykuksenko opened #545 "archivebox config --set parsing error"
#### Describe the bug
If a `archivebox config --set` statement contains more than one equal sign the parser fails and the config is not set.

#### Steps to reproduce
Inside an initialized docker container run the following commands. This is attempting to set the existing defaults for WGET_ARGS.

Fail example:
[code]

Success example
[code]

#### Software versions
[code]

[2020-11-22 06:28] ykuksenko opened #546 "Feature Request: ability to include arbitrary files into an archive that are linked on a page - like zip files"
## What is the problem that your feature request solves
I would like to archive non media files on a given web page for example `zip` files and possibly other extensions.

## Describe the ideal specific solution you'd want, and whether it fits into any broader scope of changes
Probably an extractor that is dedicated to grabbing various files that are directly linked on a page with a configurable r

[2020-11-22 17:33] pirate commented on #545
Fixed https://github.com/pirate/ArchiveBox/commit/b11d5624452b3c047c6e342d31bcaad576b30696

thanks!

[2020-11-22 17:33] #545 closed

[2020-11-22 17:38] pirate commented on #544
Correct, by index files I meant it should only update the `data/archive/<timestamp/index.{json,html}` files (which we are still using and plan to keep), not the old main index in `data/index.{json,html}`.

[2020-11-22 17:50] pirate commented on #546
ArchiveBox will happily download zip files (and other staticfiles) as-is, you just have to feed it the links to those zip files directly or use `--depth=1`.

I don't think we'll add a flag specifically to crawl for zip files or other staticfiles on a page, that's up to the user to manage, but I believe it's usable to achieve that end-goal as is right now.

Here are the two approaches for you to tr

[2020-11-23 17:00] pirate commented on #534
I'm going to close this because the docker builx workflow for ARM cpus is now merged. https://hub.docker.com/r/archivebox/archivebox

If you're still having permissions errors with the data folder @jackitsdotcom please open a separate issue and I'd be happy to help.

[2020-11-23 17:00] #534 closed

[2020-11-23 17:13] pirate commented on #514
You can edit the wiki directly, no need for a PR. Thanks for double checking though!

I'll do another pass and rename any straggler webrecorder references myself in a bit.

[2020-11-25 07:21] danst0 opened #549 "Bug: ArchiveBox crashes when encountering wget-generated filenames that are too long"
Hi,

I get a filename too long error after an import. Could someone please help?

Daniel
![Bildschirmfoto 2020-11-25 um 08 20 53](https://user-images.githubusercontent.com/1544506/100195125-29eb0500-2ef7-11eb-9e70-761ba13673ce.png)

[2020-11-25 14:52] mAAdhaTTah opened #550 "Bugfix: Long-running update end up with orphan chromium processes"
#### Describe the bug

I imported my Pocket library, totaling 27k+ links, and have been archiving those links on and off for a week. I went away for a few days, and figured I'd let the process run on my server. When I returned, I found the RAM completely maxed out on the box (16GBs) and dozens of stray Chromium processes still running. ArchiveBox was run in Docker, so I was able to kill the contai

[2020-11-25 16:14] pirate commented on #549
It is what it says on the tin :)

That filename is indeed too long, you'll have to remove that URL from your archive and delete the file or live with the error. It's a hard limitation of using the filesystem for archiving with the WGET extractor.

[2020-11-25 18:32] danst0 commented on #549
ok.
Shouldn't there be something preventing the generation of these long names in the first place. If I re-archive this link I will have the same result again?
If there is this limitation on the filename length (I think I am on ext4 so 255 characters). Does it really make sense to simply use the url components to name the files? should archivebox use some kind of hash?

Daniel

[2020-11-25 18:37] pirate commented on #549
You're the first person to hit this edge case in 5 years so I'm not super keen on adding code surface area to catch it, especially when it varies from filesystem to filesystem. This limitation also only exists for the wget extractor which uses the url->filesystem mapping (which is fundamentally difficult and flawed for many reasons beyond just filename length), none of the other extractors have th

[2020-11-25 18:49] danst0 commented on #549
Ok.

[2020-11-25 18:53] pirate commented on #549
Actually I just double-checked the code path and this error will be gone in 0.5.

Update on the next release and you should be good to go. We removed the filesystem checks for ArchiveResults entirely in #525 and as a side effect it'll never need to call this failing `.exists()` check to render the UI.

[2020-11-26 16:05] davralin opened #551 "Steps I took to install this to kubernetes"
I had some issues deploying this to kubernetes, so to at least try to document my steps for the next person, this is what I did:

1. Add a standard deployment, define your mounts/PVC's as you normally do.
Add init as an argument to the container, such as:
[code]
(If you mount a block-device, using for example Rook, as your PVC, you'll have a Lost+Found-folder in /data - archivebox will not do the

[2020-11-26 16:18] Prn-Ice commented on #539
I'm using docker on Fedora 33.

[2020-11-26 17:05] jdcaballerov commented on #551
@davralin Have you tried using [kubernetes init containers](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/) ?

[2020-11-27 07:20] davralin commented on #551
See my last sentence. :-)

I'm not sure if there are any consequences from doing `archivebox init` on every startup either, so not sure if that's the correct way.

[2020-11-27 10:27] junpet commented on #539
Similar here. I set `777` to the volume folder, but I got:

[code]

My `docker-compose.yml`. I've tried with and without `OUTPUT_PERMISSIONS`, no luck.

[code]

After setting `777`

[code]

After running `docker-compose run archivebox init`

[code]

I run with my user the `docker-compose` commands. Hope this helps.

[2020-11-27 19:14] jdcaballerov commented on #551
@davralin Oh, sorry. `archivebox init` will only try to apply migrations if any and fix the index.

[2020-11-27 20:15] thethales commented on #514
Thank you for your reply,
I have taken this opportunity to further correct references, where applicable at the aforementioned article.

[2020-11-27 22:28] pirate commented on #514
Looks good, thanks!

[2020-11-27 22:28] #514 closed

[2020-11-28 00:03] davralin commented on #551
There's still the issue of lost+found on ext4-volumes, which probably/perhaps should be ignored by `archivebox init` - regardless of k8s or not.

[2020-11-28 00:39] pirate commented on #551
Fixed @davralin https://github.com/ArchiveBox/ArchiveBox/commit/d9ef3d0bf82854b83a94e5c044b28ecb30152e1b.

[2020-11-28 12:33] davralin commented on #551
Nice, so with those changes in place, this is my relevant manifest:
[code]

[2020-11-28 16:10] shepner opened #553 "queuing for add"
## Type

 - [ ] General question or discussion
 - [x] Propose a brand new feature
 - [ ] Request modification of existing behavior or design

## What is the problem that your feature request solves

`archivebox add` can be slow and I typically just want a quick "fire and forget" way to submit new URLs.  Id also like this to be a multi-threaded process.

## Describe the ideal specific solution you'

[2020-11-28 16:11] cdvv7788 commented on #553
@pirate this is related to the huey implementation, right?

[2020-11-28 16:37] shepner opened #554 "Less "open" public website"
## Type

 - [ ] General question or discussion
 - [ ] Propose a brand new feature
 - [x] Request modification of existing behavior or design

## What is the problem that your feature request solves

Occasionally I would like to share links to pages I have clipped.  However, the public ArchiveBox site is rather "open" (very easy for anyone to look at everything stored in there) and Id rather if tha

[2020-11-28 17:36] pirate commented on #554
Config options to manage which parts are public already exist:

![image](https://user-images.githubusercontent.com/511499/100522069-17323380-3176-11eb-9a06-7b3b7e3a42c0.png)
https://github.com/ArchiveBox/ArchiveBox/blob/e4d2ac432db2627cec7cfa5fb02e8b83bb4269bb/archivebox/config.py#L71

[code]

You can also manage the permissions on a per-user basis under http://127.0.0.1:8000/admin/core/user/

[2020-11-28 17:47] pirate commented on #553
The message queue-style implementation is coming soon with Huey, but the behavior you want can already be achieved with:

[code]
Going to close this for now because the Huey implementation is already a long-running dev task we're tracking in other issues.
Feel free to reply if you still have questions / want help though and I'll continue answering here.

[2020-11-28 17:47] #553 closed

[2020-11-28 17:50] pirate commented on #551
If you want some Github credit for that manifest you can open a PR to add it to our new Docker repo here: https://github.com/ArchiveBox/docker-archivebox ;)

Otherwise happy to add it myself in a few days.

[2020-11-28 19:36] mAAdhaTTah commented on #549
FWIW, this _may_ be a Windows-only issue. I vaguely recall early versions of npm having this issue with its naive dependency resolution algorithm.

[2020-11-28 19:56] danst0 commented on #549
probably not. I have archivebox running on docker on ubuntu

[2020-11-29 17:40] shepner commented on #554
Ok, I think I figured out what those settings do.  Are they documented somewhere?  Similarly, is there some documentation for the various user account permissions?  I havnt found them in the wiki.

[2020-11-29 18:09] pirate commented on #554
They are not documented yet because it's sort of a "beta" feature. We're planning on improving the permissions system in the future and this is just the bare minimum first version we implemented. I may add them to the Wiki but I haven't decided yet if we want to advertise these config options because they might change soon.

[2020-11-29 22:25] shepner commented on #554
k.  In that case, Ill try to keep an eye out for that.  Thanks!

[2020-11-29 23:21] shepner opened #556 "Dockerfile changes"
## Type

 - [ ] General question or discussion
 - [ ] Propose a brand new feature
 - [x] Request modification of existing behavior or design

## What is the problem that your feature request solves

Minor stuff to make the Dockerfile a bit more friendly to work with

## What hacks or alternative solutions have you tried to solve the problem?

This are some initial things Ive run across:
* After in

[2020-11-29 23:58] cdvv7788 commented on #556
`archivebox init` should not be dangerous. Did some folders get wiped, or some entries in the database get lost when you ran it? Can you reliable reproduce it? It would be very helpful if that is the case.

[2020-11-30 08:41] davralin commented on #551
Now who can pass up free Github credits... :-)

[2020-11-30 14:54] shepner opened #557 "Re-running `archivebox init` loses metadata"
This is extracting a defect commented in [#556](https://github.com/ArchiveBox/ArchiveBox/issues/556)

#### Describe the bug

Running archivebox init is a dangerous task (data is lost when the DB is recreated)

#### Steps to reproduce

Run `archivebox init`

#### Software versions

archivebox/archivebox:latest as of 11/29/2020

#### Discussion

`archivebox init` should not be dangerous. Did some fo

[2020-11-30 14:56] shepner commented on #556
I debated about mentioning this in here so have opened [#557](https://github.com/ArchiveBox/ArchiveBox/issues/557) to avoid loosing the point of this enhancement ticket

[2020-11-30 21:14] ekiel opened #558 "Bugfix: init not working"
ArchiveBox says the collection needs to be upgraded via archivebox init

#### Describe the bug
Updated to archivebox/archivebox:latest and container tells me to upgrade:
[code]
#### Steps to reproduce
ran docker-compose run archivebox init and I get the following error:

#### Screenshots or log output

[code]

#### Software versions

 - OS: POP_OS! 20.10/Docker version 19.03.13, build 4484c46/Dock

[2020-12-01 00:25] pirate commented on #558
Do not use the `latest` container, it's based on `master` and is not stable. You should only use one of the tagged versions like `0.4.21`.

[2020-12-01 01:11] ekiel commented on #558
Thanks! I wasn't able to revert back to 0.4.21 (it said my /data directory had to be empty, but I went back to nikisweeting/archivebox:a1cd8a5217ec4205e86a1bc7b8e51b4bd5b0c938 and it worked to get me back up and running! I'll be patient as you guys work on this!

Keep up the amazing work!

[2020-12-01 01:11] #558 closed

[2020-12-01 02:00] Prn-Ice commented on #539
I tried setting 777 on the parent archivebox folder and no luck.

[2020-12-01 10:22] pirate commented on #557
Thanks for reporting, this is definitely a serious bug, and we'll look into it before releasing v0.5.0 to make sure it doesn't affect anyone else.

@cdvv7788 can you investigate further if you have some time.

[2020-12-01 14:35] cdvv7788 commented on #557
Yes, I will make this my priority.

[2020-12-01 14:37] cdvv7788 commented on #557
@shepner does this happen when you are updating from v0.4 to v0.5? Or just re-running it on v0.5 triggers the issue?

[2020-12-01 19:09] shepner commented on #557
Good question.  The script has been pulling the latest version when it runs and I never before looked to see what version Im on.  Apparently v0.5.0:

[code]

Just ran `sudo docker exec -it archivebox su archivebox -c "archivebox init"` again.  I dont see any differences in the times and etc so perhaps I started with v0.4.x and at some point got switched over to v0.5.0?  I havnt been using this ver

[2020-12-01 21:27] pirate commented on #557
Aha that explains it, v0.5.0 is an unreleased working branch, still full of bugs. Definitely downgrade your image back to v0.4.21.

Unfortunately I haven't figured out an easy for us to control the `:latest` tag because Docker hub assigns it to whatever the last uploaded image is.

We need to be able to build and share images of our working branches (which get pushed more often than stable release

[2020-12-02 14:17] grravity opened #560 "[Feature Request] Input An Archive Link, Get All Their Snapshots"
Suggesting the ability to input a public archive link, lets use archive.is or waybackmachine for example, you input their lnk, then it goes through and grabs all the snapshots they have publicly viewable.

Optionally with the ability to set dates (xx date to xx date, 2004-2008, 2020 only, May 2020 only, etc)

Ideally just the site itself, not the whole archive web gui wrapping.

This is especially

[2020-12-02 15:03] pirate commented on #560
You should follow this issue for progress on this: https://github.com/ArchiveBox/ArchiveBox/issues/160

Tangentially related:
- https://github.com/ArchiveBox/ArchiveBox/issues/179
- https://github.com/ArchiveBox/ArchiveBox/issues/146
- https://github.com/ArchiveBox/ArchiveBox/issues/439

[2020-12-02 15:03] #560 closed

[2020-12-02 17:30] dohlin opened #561 "Question: Import an Existing ArchiveBox Archive Folder? What Am I Missing?!?"
Ok, so it's entirely possible I'm blind and missed this somewhere, but for the life of me I can't find it despite much searching :(

I've got a very, very old install of ArchiveBox with an Archive/Output folder with many folders insides of it (seemingly random numbered folders).

I've built a brand new fresh Ubuntu install with an up to date copy of ArchiveBox, etc. and everything works - now I ju

[2020-12-02 18:19] #561 closed

[2020-12-02 22:57] pirate opened #564 "Feature Request: new extractor gallery-dl for image gallery downloading"
Add a new extractor for image gallery photo downloading:

https://github.com/mikf/gallery-dl

PRs are welcome for this one! But please discuss your approach here first before starting any work!

[2020-12-03 08:16] Marco1097 opened #565 "500 error after upgrading: 'SessionStore' object has no attribute '_session_cache' due to binascii.Error: Incorrect padding"
#### Describe the bug
After update from nikisweeting/archivebox to archivebox/archivebox i get Server Error (500) when using nginx
If i try to use the IP and http everythings works

#### Screenshots or log output
Archivebox LOG
[code]

NGINX conf
[code]

#### Software versions

 - OS:                        Unraid 6.8.3
 - ArchiveBox version:        v0.4.24

[2020-12-03 09:13] pirate commented on #565
Can you try launching the server with `archivebox server --debug 0.0.0.0:8000` and posting the error output you see.

[2020-12-03 09:22] Marco1097 commented on #565
[code]

[2020-12-03 09:26] pirate commented on #565
Oh you need to run `archivebox init` whenever you update the container, it's just missing some migrations I think.

[2020-12-03 09:36] pirate commented on #565
Did you at any point run the `:latest` version from docker before downgrading back to `v0.4.24`? That might explain it.

You can try fixing it by running this in `archivebox shell`:
[code]

This clears the session table that's causing the error about incorrect padding, so you will have to log in again afterwards.

[2020-12-03 10:06] Marco1097 commented on #565
Not at any time, but always, the image is automatically updated to the image on Docker Hub marked as latest

Cleaned cache and cookies and now it works, thanks

[2020-12-03 12:32] autumn-birds opened #566 "Feature Request: Rate-Limiting Options"
*(sorry in advance for the verbosity! I really appreciate that people are working on this sort of software :sparkling_heart: thanks so much for taking the time.)*

## Type

 - [ ] General question or discussion
 - [ ] Propose a brand new feature
 - [x] Request modification of existing behavior or design

## What is the problem that your feature request solves
I'd like to dump my --- probably rathe

[2020-12-03 13:31] #565 closed

[2020-12-03 13:49] pirate commented on #566
We've discussed this previously over here: https://github.com/ArchiveBox/ArchiveBox/issues/91#issuecomment-489799497

The reason it hasn't been added yet is because honestly ArchiveBox is pretty slow without parallel link archiving! 😆

We haven't had issues with hitting ratelimits in practice because single-threaded archiving with a headless browser is not much faster than a human browsing those l

[2020-12-03 14:52] shepner commented on #557
This part of the conversation prolly should be moved elsewhere but:

Note that I do not work as a developer, my own projects/repos arent to the point where anyone (myself included) particularly care about releases, and professionally I'm a bit removed from that side of the process.  That said, Im pretty sure having `:latest` assigned to the, well, latest image is to be expected.  :)

I suspect the

[2020-12-03 16:01] pirate commented on #557
We already have Github Actions CI (we don't use Jenkins) set up to auto-push built images on every commit, so it would be easy for us to limit that only to `master` and work on the `dev` branch instead.

I think that's probably the way to go, it's what we had before and it worked well, I was just hoping we could autobuild *all* commits because it makes for easier development if you don't have to b

[2020-12-03 16:29] cdvv7788 commented on #557
@pirate we discussed this approach before. It looks like the way to go...we should do that. If you want to have a build for everything, let's setup another dockerhub repository.

[2020-12-03 16:33] pirate commented on #557
Done https://github.com/ArchiveBox/ArchiveBox/commit/b186e98cd2eeb5cb375dedfaa21abcae1abec2be

[2020-12-03 23:52] autumn-birds commented on #566
I see! Okay, that makes some amount of sense, hehe. I'm not in a huge hurry to get things archived; I'm just of the 'vague long-standing irritation that I don't have something like this to search through/read offline/etc etc' type.

As far as number of links go, I'm... not honestly sure. My browser history for November seems to weigh in at almost 5,000 items on this machine, which has become my pr

[2020-12-04 07:30] #551 closed

[2020-12-04 13:43] BlankerL commented on #565
Thank you for the solution, worked on my browser as well.

[2020-12-04 21:57] fs111 commented on #539
I am trying on debian stable and I have the same issue. Any pointers?

[2020-12-04 22:03] pirate commented on #539
`sudo chmod -R 777 data` outside the container should fix it, don't just set 777 on the parent folder, you have to recursively set it with `-R`.

[2020-12-05 01:07] Prn-Ice commented on #539
I switched to manjaro, followed the same steps, got
[code]
Then deleted the data folder and created it again `mkdir data`.
After that `docker-compose run archivebox init` ran successfully.

[2020-12-05 08:29] junpet commented on #539
@pirate I've used `sudo chmod  -R 777 data` in the first place, please see my error above. By the way I use Debian on my server, but I won't change my OS...

[2020-12-05 16:50] cdvv7788 commented on #557
@shepner do you have the original archive (a copy before you ran `archivebox init`)?

[2020-12-05 16:51] cdvv7788 commented on #554
@pirate we can close this one, right?

[2020-12-05 17:01] cdvv7788 commented on #544
@pirate https://github.com/ArchiveBox/ArchiveBox/blob/1b8abc09616175a1a4180211e8c72a5de7dcfdbf/archivebox/main.py#L451-#L488 I think that the mentioned behavior is not what was originally intended. This process was aborting the execution of the `update` function if `--index-only` was present after writing to the main index, not to the detail in every archive.
I will refactor this to behave as you

[2020-12-05 17:13] cdvv7788 commented on #513
@pirate can this be closed?

[2020-12-05 17:23] cdvv7788 commented on #504
@pirate I missed the update command. I have created a new PR to include it!

[2020-12-05 20:20] shepner commented on #557
Sorry no.  TBH, it isnt a big deal on my part.  Im still getting a feel for how this works and if/how I want to use it.  That latter part is prolly best suited for a new thread

[2020-12-05 22:40] #544 closed

[2020-12-05 22:40] #554 closed

[2020-12-05 22:41] #513 closed

[2020-12-05 22:43] #504 closed

[2020-12-07 22:44] tonylaw7 commented on #471
I'm experiencing a similar issue when running the docker container with update command. I'm running ArchiveBox on a virtual machine with 8GB of RAM, and had no issues with previous versions when using update.

Here's my output:

`
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/django/db/backends/utils.py", line 86, in _execute
    return self.cursor.execute(sql,

[2020-12-07 23:20] pirate commented on #471
@tonylaw7 what version are you running? Can you post the output of `archivebox version`.

[2020-12-07 23:32] tonylaw7 commented on #471
ArchiveBox v0.4.24

[2020-12-09 00:15] pirate commented on #471
@tonylaw7

@zblesk v0.5.0 has many speed improvements that should make multi-process archiving better, but it's not finished yet, give us a week or so for the final testing.

[2020-12-09 18:31] adamwolf opened #577 "Feature Request: Browser extension to submit either all history or certain URLs to a given ArchiveBox instance"
Hi folks!

After adding the little bookmarklet, I'd like to add another extension.  Once the API is closer, would you rather see an Android/iOS "share to" app extension, or a Chrome extension to quickly submit an URL to your ArchiveBox?

(Of course, if these are both things you don't like, just let me know! :)

[2020-12-09 21:28] pirate commented on #577
Yeah for sure, that would be great! We can easily expose an `/add` endpoint for those. I don't have any Android/iOS app dev experience, so that's definitely something we could use help with.

[2020-12-10 13:50] BlipRanger opened #578 "Feature Request: Scheduling Archival from the UI"
## Type

 - [ ] General question or discussion
 - [x] Propose a brand new feature
 - [ ] Request modification of existing behavior or design

## What is the problem that your feature request solves

Currently scheduling ingestion of new urls requires writing a cron job external to the web UI (external to the docker container in my case) which isn't entirely ideal in a docker/self-contained setup.

[2020-12-10 14:17] pirate commented on #578
Yeah this is definitely on our mind, it probably won't be added for a couple versions but this is definitely something I've been planning.

It's blocked by adding a background queue system like Huey: https://github.com/ArchiveBox/ArchiveBox/issues/91

In the meantime I recommend using docker-compose instead of docker alone, as it allows you to declaratively define your scheduled imports all in one

[2020-12-10 14:21] pirate commented on #91
A quick update for everyone watching this, v0.5.0 is going to be released soon with improvements to how ArchiveResults are stored (we moved them into the SqliteDB). This was a necessary blocker to fix before we can get around to parallel archiving in the next version.

v0.5.0 will be faster, but it wont have built-in concurrent archiving support yet, that will be the primary focus for v0.6.0. The

[2020-12-10 14:23] BlipRanger opened #579 "Feature Request: Allow config of the "add archive" action from the web UI"
## Type

 - [ ] General question or discussion
 - [ ] Propose a brand new feature
 - [X] Request modification of existing behavior or design

## What is the problem that your feature request solves

In some cases an end user may want to just grab the WARC or just the PDF to be archived from a given site. Similar to the CLI, it would be handy if you could override the current config values on the p

[2020-12-10 14:26] BlipRanger commented on #578
Gotcha, I saw the future queuing system and that makes sense! And yes, currently using compose, so I'll look into doing that. Thanks!

[2020-12-10 17:48] #579 closed

[2020-12-11 12:21] pirate opened #581 "Move all vendored code into git submodules to make upgrading easier"
Currently in we have all vendored libraries as copy pasted python files under `archivebox/vendor/*.py`.

This makes it difficult to upgrade these libraries, instead we should move them into git submodules that are clones of their original sources on github.

E.g. instead of `vendor/base32_crockford.py` it should be `vendor/base32_crockford/.git` and `vendor/base32_crockford/base32_crockford.py`.

[2020-12-11 12:42] pirate commented on #433
@cdvv7788 is this fixed in v0.5.0? If not can we do that.

[2020-12-11 12:44] pirate commented on #579
Thanks again for this @BlipRanger! I added a credit to you in the release notes of v0.5.0 https://github.com/ArchiveBox/ArchiveBox/pull/552#issue-528926837

Don't hesitate to open a ticket for any other suggestions in the future!

[2020-12-11 20:01] mAAdhaTTah commented on #581
I would also be open to just using `requests` directly instead of the Pocket API package. Didn't realize dealing with dependencies for deb packages was going to be such a chore. That said, the Pocket API package hasn't changed in a long time so may not need to be submoduled either (and all my experience w/ submodules has been terrible lol).

[2020-12-11 22:11] pirate commented on #581
Pocket is not the only vendored dependency, and we're likely to want others in the future. We already use submodules for many other parts of the ArchiveBox packaging process, so it's familiar to us (`git pull --recurse-submodules` fixes almost all submodules headaches btw). The main benefit is that updating a vendored dependency goes from being a manual copy-paste process to just `cd vendor/<submo

[2020-12-11 22:35] #120 closed

[2020-12-13 09:50] imlonghao opened #585 "PyPI need update"
Hello,

The latest version of ArchiveBox is 0.4.24.

But seems you forget to update PyPI? It is still 0.4.21 since Aug 19, 2020

https://pypi.org/project/archivebox/

[2020-12-13 23:17] mAAdhaTTah commented on #345
Would it be possible for the archiver to trigger the ThreadReader app to unroll it then archive the ThreadReader result?

[2020-12-13 23:23] pirate commented on #585
Didn't forget, it's intentional. The PyPI version is more stable than the latest version.

[2020-12-14 15:13] shimizurei commented on #345
Then it ends up depending on ThreadReader. What if ThreadReader becomes defunct tomorrow?

[2020-12-14 15:20] mAAdhaTTah commented on #345
@shimizurei You'd have an archive of the ThreadReader page in your ArchiveBox.

[2020-12-14 15:38] shimizurei commented on #345
If it's part of ArchiveBox's code, then it's life depends on the maintainers of ArchiveBox. ThreadReader isn't open source, so if it goes down tomorrow, that's it. Everyone will be scrambling to find a replacement because the code is not easily available. Yes, you'll have your already created archives, but you wouldn't be able to create anymore.

[2020-12-14 18:13] pirate commented on #345
I'd rather do this via puppeteer scripts once our async playwright worker system is released in v0.6.0 or v0.7.0.

Follow here for updates on puppeteer script support progress: https://github.com/ArchiveBox/ArchiveBox/issues/51

[2020-12-17 15:49] IvanVas commented on #22
Thanks for implementing the full-text search. There is a problem running the Sonic on Arm though: https://github.com/valeriansaliou/sonic/issues/218

[2020-12-17 16:44] pirate commented on #22
Yeah, I suspect with the M1 they will implement it soon, but the fallback with ripgrep is quite good on smaller archives. Have you had a chance to try the `ripgrep` backend? It's quite modular so if you have another alternative in mind for ARM we could add it as an alternative backend easily.

[2020-12-17 17:08] IvanVas commented on #22
I'm testing on Nano Pi (SBC similar to Raspberry PiX).
ripgrep is also not installed in the latest docker image I have (linux, arm64).

[2020-12-17 17:21] pirate commented on #22
The latest docker image is v0.4.24, not v0.5.0 (the version with sonic and ripgrep). You must clone the branch locally and build the docker image to test it:
[code]
That version ^ should have both ripgrep and sonic available for testing.

[2020-12-21 08:38] bdelwood commented on #539
I am having the same issue on Arch. I have a similar setup to junpet; using a local-driver named volume. After running `docker-compose up -d` or `docker-compose run archivebox init` the mountpoint ownership will change to `root:root` no matter what it was before.

[2020-12-24 14:10] berezovskyi opened #591 "Bugfix: media links are incorrect when the trailing slash is missing"
#### Describe the bug

When I navigate to the media folder from `/admin/core/snapshot/` as opposed to a single archived item, I am redirected to `/media` folder and not `/media/`. The one without a slash generates faulty links.

#### Steps to reproduce

1. Go to /admin/core/snapshot/
2. Pick any item and open media in a new tab:

<img width="129" alt="image" src="https://user-images.githubusercont

[2020-12-24 14:26] berezovskyi commented on #591
This is my first time looking at the archivebox codebase but I have two possible fix suggestions:

1. add a slash here after the placeholder https://github.com/ArchiveBox/ArchiveBox/blob/096749da8759e4435dfb049b4273783b5c2eb3f6/archivebox/index/html.py#L124
2. ensure `/media/` is prepended at https://github.com/ArchiveBox/ArchiveBox/blob/096749da8759e4435dfb049b4273783b5c2eb3f6/archivebox/index/ht

[2020-12-24 15:47] cdvv7788 commented on #591
This is related to this: https://github.com/ArchiveBox/ArchiveBox/issues/487
I will give it a check next week.

[2021-01-01 00:18] DUOLabs333 opened #594 "Running `archivebox init` via pip install on Windows 10 triggers "File not found" error"
I'm on Windows 10. I tried to install archivebox from pip, but after I did "npm install --prefix . 'git+https://github.com/ArchiveBox/ArchiveBox.git'", and did archivebox init, it gave a "File Not Found" Error

[2021-01-01 20:15] pirate commented on #594
The latest v0.5 release isn't really fully stable on Windows 10 yet, but it should work at least to init.

Can you post the output of running `archivebox version` on Windows 10

[2021-01-02 10:23] terxw opened #596 "Error: django.db.utils.IntegrityError: UNIQUE constraint failed: core_tag.slug"
####
after running newest docker  image (nikisweeting/archivebox:latest) i get the following bug
version 0.4.21 could run without this problem, although very slow, I have 30000 links, that is why i am trying newwer version

#### Steps to reproduce
docker-compose.yml
[code]
run ti with:
[code]
#### log output
[code]
#### Software versions

 - OS:                        ubuntu 20.04
 - ArchiveBox ve

[2021-01-02 12:46] pirate commented on #596
Thanks for reporting, we'll investigate. In the meantime can you switch to using `archivebox/archivebox:latest` we moved away from the old `nikisweeting/archivebox` repo under my personal account to a new more "official" one.

[2021-01-02 15:22] DUOLabs333 commented on #594
No, no, I already fixed it (I didn't have a dependency). However, every
time I try to archive something, it gives me a Server 500 error. I tried
everything to fix it.

On Fri, Jan 1, 2021, 3:15 PM Nick Sweeting <notifications@github.com> wrote:

[2021-01-02 20:10] DUOLabs333 commented on #594
Oh, I uninstalled archivebox-- that's why I closed the issue.

On Sat, Jan 2, 2021, 12:27 PM Nick Sweeting <notifications@github.com>
wrote:

[2021-01-02 21:28] DUOLabs333 commented on #594
@pirate However, I am reinstalling it now, so I'll give you the info when I get it.

[2021-01-02 21:30] DUOLabs333 commented on #594
Though just a request: could you make it so that on every run it opens two Chrome windows? After a while of debugging, it get's confusing.

[2021-01-02 21:50] DUOLabs333 commented on #594
Also, here's the output, as of now:
The system cannot find the path specified.
The system cannot find the path specified.
[X] Unable to find a working version of Chrome/Chromium, is it installed and in your $PATH?

ArchiveBox v0.4.21

[01;37m[i] Dependency versions:[00;00m
[01;32m √ [00;00m PYTHON_BINARY          C:\Users\School\Downloads\Python39\python.exe                                v3.9

[2021-01-02 21:55] DUOLabs333 commented on #594
You can ignore that last part now, as I added chrome.exe to my PATH.

[2021-01-02 21:57] DUOLabs333 commented on #594
Also, even when I added a website, nothing appears in my "Snapshots" page.

[2021-01-02 23:07] pirate commented on #594
Can you post the exact error output for the charmap error

[2021-01-02 23:10] DUOLabs333 commented on #594
Here it is:
[01;30m[i] [2021-01-02 23:10:06] ArchiveBox v0.4.21: archivebox add http://example.com/[00;00m
[01;30m    > C:\Users\School\Downloads\archivebox[00;00m

[01;32m[+] [2021-01-02 23:10:09] Adding 1 links to index (crawl depth=0)...[00;00m

[01;30m[*] [2021-01-02 23:10:09] Writing 2 links to main index...[00;00m

[2021-01-03 12:25] pirate commented on #594
Looks like you're running 0.4.21 in that output, can you try with the latest v0.5 build?

[code]

[2021-01-03 12:48] DUOLabs333 commented on #594
The 'pip install .' didn't work:
C:\Users\School\Downloads\archivebox-v5.0>pip install .
Processing c:\users\school\downloads\archivebox-v5.0
    ERROR: Command errored out with exit status 1:
     command: 'c:\users\school\downloads\python39\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\School\\AppData\\Local\\Temp\\pip-req-build-8vy5yxed\\setup.py'"'"'; __file__

[2021-01-03 12:59] DUOLabs333 commented on #594
Though I didn't used the CLI, I just downloaded the code as a ZIP.

[2021-01-03 14:28] pirate commented on #594
You downloaded the v0.5.0 branch as a zip and got that error? Can you double check that `package.json` is present in the downloaded code and contains valid json?

[2021-01-03 16:59] DUOLabs333 commented on #594
Here's the package.json code:
{
  "name": "archivebox",
  "version": "0.5.1",
  "description": "ArchiveBox: The self-hosted internet archive",
  "author": "Nick Sweeting <archivebox-npm@sweeting.me>",
  "license": "MIT",
  "scripts": {
    "archivebox": "./bin/archive"
  },
  "bin": {
    "archivebox-node": "./bin/archive",
    "single-file": "./node_modules/.bin/single-file",
    "readability-ext

[2021-01-03 19:23] coisnepe opened #597 "Bugfix: sqlite3.IntegrityError: NOT NULL constraint failed: core_archiveresult.cmd_version and .output"
#### Describe the bug
Cannot start archivebox after moving from `nikisweeting/archivebox` to `archivebox/archivebox`. Django/Sqlite error ensues.

#### Steps to reproduce
Might be related to #596 ? I killed my docker container running `nikisweeting/archivebox:latest` and tried recreating a container with `archivebox/archivebox:latest`, linking to the same old volume. I did prepend the server comma

[2021-01-03 19:40] idolux opened #598 "Bugfix: Disable third party requests (stop leaking private URLs to archive.org)"
#### Describe the bug
After setting SAVE_ARCHIVE_DOT_ORG to "False" as described [in the README](https://github.com/ArchiveBox/ArchiveBox#caveats) archive.org still gets contacted. Therefore ArchiveBox leaks private URLs to archive.org

I would suggest to either disable archive.org in the webfrontend completely if SAVE_ARCHIVE_DOT_ORG is disabled or to introduce another option which disables curre

[2021-01-04 14:37] pirate commented on #598
What page did you open in the ArchiveBox UI that fired these requests?

[2021-01-04 14:41] pirate commented on #597
@cdvv7788 can you make that field nullable, I suspected we might have some old archive users with no cmd versions in their detail json files.

[2021-01-04 15:03] cdvv7788 commented on #597
@pirate https://github.com/ArchiveBox/ArchiveBox/pull/599 I gave it a default. It should work unless there are `cmd_version` fields with explicit nulls.

[2021-01-04 15:56] idolux commented on #598
This one https://archivebox.zervice.io/archive/1602401954.435773/index.html (of course locally on my own archivbox)

[2021-01-05 16:42] DUOLabs333 commented on #594
@pirate And JSONLint says it's valid.

[2021-01-06 05:57] bash-stack opened #600 "Feature Request: Add possibility to recreate single html/pdf/screen"
is there a simpler way than using "force overwrite" from gui  (e.g. FORCE_REINDEX env )  to easily regenerate a speific thing like pdf ?
( sometimes the file is there , so the add/update loop thinks "ok", but the file has no content since e.g. chromium is stuck rendering )
if so then it should be documented

[2021-01-06 06:04] bash-stack opened #601 "Bugfix: Retry on "database locked" error ( or switch to SQL)"
when using the documented method to add or update links in parallel ,
or using the gui while updating on the cli ,
plenty of `database locked` errors ,
and since the somehow lengthy ( min. 500ms per page only to check , up to 6*120 s with timeout 2m )
a simple `RETRY_DB_WRITE` variable and the corresponding code would help

(or just switch to SQL , since it is way faster , especially when running

[2021-01-06 06:07] bash-stack opened #602 "Bugfix: Docker container fails due to wrong chromium path"
had to execute

`docker exec -it archivebox_archivebox_1 "ln -s /usr/bin/chromium /usr/bin/chromium-browser" `

[2021-01-06 06:26] bash-stack opened #604 "Detect failed extractors by checking that output file is above a minimum threshold size"
since the update/add loop only checks if a file is present after TIMEOUT time ,

the checks should try the `file` command and see f the file is healthy  ,
and maybe a "Minimum pdf result size" would be cool ( so a 10kb pdf could beconsireded empty)

a good command to find  many failed URLs was :

[code]

[2021-01-06 06:30] bash-stack opened #605 "Bugfix: open "original url" from snapshots in new tab"
since the ui lags hard, a new tab would be cool

[2021-01-06 06:36] bash-stack opened #606 "Bugfix: use sandbox in ifrme on archive pages"
when visiting an /index.html of a site using js trackers and ads,
the iframe should be used like  [described here ](https://www.w3schools.com/tags/att_iframe_sandbox.asp )

e.g. ` <iframe src="demo_iframe_sandbox.htm" sandbox></iframe> `

[2021-01-06 11:07] pirate commented on #606
I think this will break a lot of the content being iframed, as lots of content uses plugin features like media/embed/etc. Why not just keep your
 browser-level adblocker on and let it do the blocking?

[2021-01-06 11:07] pirate commented on #605
Just hold cmd/ctrl when clicking it.

[2021-01-06 11:07] #605 closed

[2021-01-06 11:13] pirate commented on #604
It's an interesting idea. Do you find many empty PDFs/screenshots in practice? This is not something I've seen happening before. Can you post a few examples of those and the log output it emitted when generating them? I suspect there's some underlying error like the TIMEOUT being set too low.

If this issue is widespread I'd rather implement this in python immediately after the extractor runs, ins

[2021-01-06 11:16] pirate commented on #602
Can you post the exact error output you saw and the output of running `docker run archivebox/archivebox version`.

[2021-01-06 11:19] pirate commented on #601
By "switch to SQL" do you mean switch to PostgreSQL or MySQL? If so we're probably not going to do that anytime soon. You can already do it optionally but I'm not going to make it the default since it massively increases the complexity for the average user.

Parallel archiving is not yet fully stable, it's going to get better in v0.5 and v0.6, you can see the roadmap here: https://github.com/Archi

[2021-01-06 11:19] #601 closed

[2021-01-06 11:22] pirate commented on #600
`archivebox add --overwrite --extract=pdf https://example.com/some/url`

New in v0.5

[2021-01-06 15:18] bash-stack commented on #604
happened under high load and low ram circustances , the pdf/screen sometimes only contains date and url .. (blank hml body)
the fancy bar index said "success"

also the loopp should check if the child pid is still running and kill ( sometimes many node and some chromium processes were leftover)

[2021-01-06 15:23] bash-stack commented on #600
you could have  a look at [cabbot](https://cabotapp.com/use/services.html) , since its in python as well and has partially the same function ( get something from somewere later or now and analyze content or headers or status codes etc.)

[2021-01-06 15:24] bash-stack commented on #605
i knew this trick before .. that was not the intent

[2021-01-06 15:25] bash-stack commented on #602
sorry , i cannot remember exactly , it was the usual message when there is a binary missing in PATH ( Command not found)

( it happened on aarch64 docker version)

[code]

[2021-01-06 15:28] bash-stack commented on #601
you should have a look at [cabot](https://cabotapp.com/use/configuration.html) , it is in python  , has a que
and does nearly the same ( get something from somewhere and analyze  headers/content/statuscode )

[2021-01-06 17:52] pirate commented on #602
We need the command you ran and the exact error output to reproduce it. (also don't redact the output of `archivebox version`, the whole output it important for us to be able to reproduce bug reports)

[2021-01-08 05:01] HeinWinToe commented on #539
@bdelwood  @junpet

You need to change owner.

Try it with `sudo chown {uid}:{gid} -R data`. You can find your UID and GID using `id` command.

[2021-01-08 12:20] pirate commented on #320
@gwern a full solution to this was just released in the latest version v0.5, check out the new `oneshot` command!

[code]

[2021-01-08 12:32] pirate commented on #539
I'm going to investigate changing the archivebox docker user in the Dockerfile to reduce problems like this with volume ownership. I've looked at how a few other projects do it and I think there's a way to fix the UID/GID within docker to be the same as the external user at runtime.

[2021-01-08 13:22] bash-stack commented on #602
it is the following (aarch64) docker container:

`archivebox/archivebox   latest    fed7c56b810d   4 weeks ago    1.08GB`

and happened during `archivebox add https://yourlink.net`

[2021-01-08 13:24] bash-stack commented on #601
How does one do that ?

[2021-01-08 15:46] bmscmoreira opened #609 "Question: getting "Error: ENDED authentication_failed doesn't contain protocol(NUMBER)" when performing backend search"
After searching for a word in the backend, logged in as admin, I get the error:
`"Error: ENDED authentication_failed doesn't contain protocol(NUMBER)"`

I am using docker and two containers - one for archivebox, other for sonic backend search. I have used the sample docker-compose file from https://github.com/ArchiveBox/ArchiveBox/blob/master/docker-compose.yml having changed "SEARCH_BACKEND_PASSW

[2021-01-08 16:14] pirate commented on #609
Thanks for reporting @bmscmoreira we'll take a look. @jdcaballerov do you have any ideas?

[2021-01-08 16:19] pirate commented on #601
You can edit `archivebox/core/settings.py` and change the `DATABASE` section to use a standard postgres connection.

Although I highly doubt it will be faster, SQLite is extremely fast on SSDs, and often beats PostgreSQL on benchmarks for queries run locally.

[2021-01-08 16:29] jdcaballerov commented on #609
@bmscmoreira Are you setting the env var `SEARCH_BACKEND_PASDWORD` to pass the new password to the ArchiveBox container?

[2021-01-08 16:30] pirate commented on #602
Are you able to reproduce it reliably with the latest version? If so please post a screenshot or verbatim copy paste of the full log output while it's happening (no redactions).

`archivebox version` does not only print the versions, it provides a lot of diagnostic info about your setup that makes it much easier to help debug stuff. If you're able to reproduce it on the latest version please also

[2021-01-08 16:35] imlonghao commented on #585
Closing as 0.5.3 is on pypi

[2021-01-08 16:35] #585 closed

[2021-01-08 16:39] bdelwood commented on #539
@HeinWinToe I think this is an issue with the container changing permissions. I already `chown`'ed the directories, but recreating the container sets ownership to `root:root`

@pirate Great. If I have time I may look into it. For example, linuxserver.io has some custom scripts to ensure permissions. From the build repo for linuxserver/plex, for instance, [they have a script](https://github.com/lin

[2021-01-08 16:49] bmscmoreira commented on #609
Thank you @pirate and @jdcaballerov for your quick help. I was indeed missing the SEARCH_BACKEND_PASSWORD env variable in the archivebox service in my yml file.
May I suggest you add that line to line 26 here? - https://github.com/ArchiveBox/ArchiveBox/blob/master/docker-compose.yml

Thanks!

[2021-01-08 17:59] jdcaballerov commented on #609
@bmscmoreira great!, yes I think it's useful to have it there so it's explicit.

[2021-01-09 09:11] junpet commented on #539
@HeinWinToe Still does not work. I set the correct owner and rights, I wrote above, but as @bdelwood mentioned, the container messes up everything and does not start.

[code]

[2021-01-09 16:25] Mist-Hunter commented on #539
I'm having the same issue. Only fix is to run the container as root, but then I can't run "archivebox manage createsuperuser" as it complains it shouldn't run as root.

Thanks for your work on this project. I'm excited to try it!

[2021-01-09 17:55] Mist-Hunter commented on #539
Just chiming in to say I'm having the same issue on Debian + Docker. I'd be curious to hear from someone who has gotten it to work, as it fails immediately with 100% reliability when just following the quick-start instructions.

Thank you for your work on this, I'm only posting this comment in the event it helps, not as a complaint. I'm excited to try this out as I've been looking for a replacemen

[2021-01-09 18:16] Mist-Hunter commented on #539
It might not be relevant, as I'm no expert. But I notice that the quickstart guide shows
`docker run -v $PWD:/data -it archivebox/archivebox init `
`docker run -v $PWD:/data -it archivebox/archivebox --version`

Which would be root, and if I run:
`docker run -v $PWD:/data --user 1000:1000 -it archivebox/archivebox init`
It fails to init. Is it possible that running the init as root, and then the m

[2021-01-09 18:55] Mist-Hunter commented on #539
In case this helps anyone understand what I'm doing wrong (or right). Here's the code I ran to get it working for me.
[code]
Note: Port 8000 is taken on my computer, I'm not using /root ($PWD) for my data, and I've added a label and a remove statement at each step because otherwise I'm ending up with orphaned containers and random names at every step (docker run). I can't get it to work with --use

[2021-01-10 00:03] hwangeug commented on #597
I'm getting the same error, migrating from 0.4.21 to 0.5.3:

[code]

[2021-01-10 20:24] winteriscariot opened #611 "Question: Adding any options to [ARCHIVE_METHOD_OPTIONS] causes wget to fail"
If I add anything to the [ARCHIVE_METHOD_OPTIONS] section it causes wget to throw an exception. Here is my current ArchiveBox.conf:

[code]

If I just have one option (such as COOKIES_FILE) it still fails. It does NOT fail if I remove the COOKIES_FILE and WGET_USER_AGENT from the ArchiveBox.conf. With the above config I get the follow exception thrown, about halfway through the wget process:

[cod

[2021-01-10 20:30] winteriscariot commented on #611
Here's stdout of archiving that same link with both ARCHIVE_METHOD_OPTIONS removed:

functional ArchiveBox.conf:
[code]

Successful wget stdout:
[code]

I labeled this as a question mostly cuz I'm not sure if this is a bug or a config issue

[2021-01-10 20:36] winteriscariot commented on #611
Just confirmed that the same behavior occurs with the same config on a different Arch machine.

[2021-01-11 00:05] CalebUsadi opened #613 "Bugfix: ModuleNotFoundError: No module named 'archivebox.vendor.base32_crockford'"
#### Describe the bug

Since updating from 0.4.24-1 to 0.5.3-1, whenever I run `archivebox`, or an command following it, I get the error `ModuleNotFoundError: No module named 'archivebox.vendor.base32_crockford'`. I didn't have this issue before, and I'm unable to revert back to the earlier version. May be related to https://github.com/ArchiveBox/ArchiveBox/issues/581.

#### Steps to reproduce

1.

[2021-01-11 04:12] mcrosson commented on #247
Any updates on this?

[2021-01-11 11:48] coisnepe commented on #597
I ended up stopping the container, downloaded the database off of my NAS, ran the migration manually in raw SQL, inserted the migration log, uploaded the DB and restarted the container.

[2021-01-11 13:28] pirate commented on #247
As of 0.4.24 we have Tags stored in a separate model with filter options based on tags in the Admin UI.

I'm leaving this issue open to track future additions to the tagging feature like nested tags / better filter options / etc.

[2021-01-11 13:31] pirate commented on #597
This is fixed in the next minor patch version v0.5.4 (not yet out). If you want it early you can build it by doing `git checkout dev; git pull; docker build . -t archivebox`.

[2021-01-11 15:43] mcrosson commented on #247
Is there a way to add tags to an existing snapshot and/or add a tag while adding a URL(s) for snapshot? I was looking through the web UI and I see the area to manage tags but no way to add them to snapshots or manage snapshot tags.

[2021-01-11 19:54] pirate commented on #247
![image](https://user-images.githubusercontent.com/511499/104231112-76918d80-541c-11eb-847d-f5348a5971b8.png)
<img width="1242" alt="Screen Shot 2021-01-11 at 9 48 14 PM" src="https://user-images.githubusercontent.com/511499/104230881-274b5d00-541c-11eb-88d1-622b960faf68.png">

<img width="1702" alt="Screen Shot 2021-01-11 at 9 53 26 PM" src="https://user-images.githubusercontent.com/511499/104231

[2021-01-11 20:07] #581 closed

[2021-01-11 20:12] pirate commented on #613
Thanks for reporting. Try now, I fixed a problem with the debian packaging process and bumped it to `0.5.3-2`.

[2021-01-11 20:31] pirate commented on #611
Strange, I haven't seen this failure mode before. Can you try removing the quotes from your User Agent config line?

[2021-01-11 20:55] coisnepe commented on #597
@pirate yeah I figured it probably wasn't going to be the smartest way but I couldn't resist. Thank you so much for not holding it against me though! I'll give it a try and see how it goes.

[2021-01-11 21:14] CalebUsadi commented on #613
Thank you! Trying to update with `apt` didn't yet give me an update. In retrospect I realized that I had added `ppa:archivebox/archivebox` to my `apt` sources instead of just using the recommended installation method, can't find in the docs why I might have done that. I uninstalled archivebox with `apt` and reinstalled with `python3 -m pip install --upgrade archivebox`. Worked perfectly.

[2021-01-12 01:00] #613 closed

[2021-01-12 10:57] pirate commented on #597
Fixed in this commit: a3008c8189d9eb798a8c11f203d6e4700876ea32, it will be released in v0.5.4 shortly.

[2021-01-12 15:25] winteriscariot commented on #611
It actually may be my cookies file that was causing this issue, not the wget useragent. I left the useragent and removed the cookie file and it works.

I'll have to verify that the cookies text file is formatted correctly. Closing, thanks!

[2021-01-12 15:25] #611 closed

[2021-01-12 17:11] winteriscariot opened #615 "Bugfix: Cookies file causes wget failures"
#### Describe the bug

#### Steps to reproduce
On Arch Linux,

#### Screenshots or log output

#### Software versions

 - OS:
 - ArchiveBox version:
 - Python version:
 - Chrome version:

[2021-01-13 10:48] pirate commented on #615
Please post the full output of `archivebox version` with no redactions.

[2021-01-13 13:35] pirate commented on #539
FYI @Mist-Hunter you can use `docker run --rm ...` instead of having to label and then manually rm after each step.

I usually run docker commands as root in a root-owned dir on Ubuntu, or as non-root in a non-root dir on macOS, so it's possible it only works in those two cases and I neglected to test non-root docker on Linux. Will report back once I have it fixed, a bit swamped this week with oth

[2021-01-15 10:43] Aondy39 opened #616 "Non blocking error: dpkg-query not finding bluealsa"
When using any archivebox command I get the message `dpkg-query: no package found matching bluealsa`, it's not blocking execution but it seems to slow it down at the beginning.

I installed archivebox by following the manual steps given in the doc, I am running it on a raspberry pi 4B 8GB running raspbian buster.
The message appears at the beginning of the output of `archivebox version`, `archiveb

[2021-01-15 16:28] winteriscariot opened #617 "Question: archivebox server throws 500 error"
I'm using nginx in front of archivebox on my local intranet to access my archives, and it's throwing a 500 error whenever I simply load the front page. nginx is recording no errors, so I assume this is happening internal to archivebox. The `archivebox server` console -- running in a screen -- simply reports the 500 error and nothing further.

Is there anything I can do to troubleshoot this? Perhap

[2021-01-15 16:31] winteriscariot commented on #617
Here is the result of running `archivebox server --debug` and then loading (at which point I receive the 500 error):

[code]

[2021-01-15 16:48] dohlin commented on #471
I too am getting this "sqlite3.OperationalError: database is locked" error seemingly randomly on v0.5 too...if I reboot and run archivebox update again it doesn't fail where it did previously, but it will eventually fail again.  For kicks I put 32GB of RAM on this VM and it's still seeing this error.  Anything else I can try?

[2021-01-15 16:50] winteriscariot commented on #617
After creating a new archive dir without the existing archives, I was able to avoid the 500 error. Therefore I'm marking this as closed, since it must be something to do with one of my links.

[2021-01-15 17:52] mAAdhaTTah commented on #617
If you set DEBUG=True in your config, you'll get a Django debug stack trace, which can help with stuff like this.

[2021-01-15 19:46] winteriscariot commented on #617
Hm the issue has started to recur. thanks for that @mAAdhaTTah -- i was able to get more info when loading /admin/core/snapshot/:

[code]
I assume this has something to do with something I archived? I took my original archive, dumped all the URLs to a text file, then created a new collection in a new directory, and imported the URLs into the new collection. It's just not super clear to me how that

[2021-01-15 19:53] winteriscariot commented on #617
A few things:
1. The login page loads just fine
2. Once logging in with a proper user, that's when the 500 error triggers. Note: this is only for /admin/core/snapshot/
3. If I go to the /admin URI it loads just fine, and I'm logged in with my user.

[2021-01-15 20:27] dohlin commented on #617
I too am seeing the issue the moment my Chrome .html bookmarks file gets written to the database (starting a fresh install).  For me, it seems to be only the /public URI that throws the error 500; the admin section seems to work fine (from what I've tested).  There's clearly something going on here.

[2021-01-16 05:30] pirate commented on #617
Yup, definitely a valid bug, we'll look into it, thanks for reporting.

If you're able to narrow it down to a specific link that breaks that would help us a ton.

[2021-01-16 21:55] mcrosson opened #618 "Question: Limit entries per page below 100"
Is there a way to limit the number of entries shown on the list pages to under 100? I've got 1158 snapshots in ArchiveBox and am seeing large CPU use spikes when browsing pages. I'd like to limit the pagination to be 25 or 50 snapshots per page but can't seem to find and option to allow this change.

Any help would be greatly appreciated.

[2021-01-18 11:32] zapp-brannigan commented on #615
Hi. I have the same Problem since 0.5.3:

    https://www.poftut.com/how-to-update-upgrade-a-python-package-with-pip/#2021-01-18

    ! Failed to archive link: Exception: Exception in archive_methods.save_wget(Link(url=https://www.poftut.com/how-to-update-upgrade-a-python-package-with-pip/#2021-01-18))
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/archivebox/ext

[2021-01-18 12:06] zapp-brannigan opened #619 "Question: index.html completly gone?"
Hi. I just upgraded my archivebox to 0.5.3 via pip.
I realized that the index.html is no longer present, so i have to run "archivebox server" to access my archive. Unfortunately this is painfully slow on my raspberry. Is there a way to get the index.html back?

[2021-01-18 13:05] pirate commented on #619
You can still use it, you just have to generate it when you need it, we switched to using a SQL db as the main index because keeping the html/json files up to date as the primary index was very slow and unreliable.
[code]

[2021-01-18 13:05] #619 closed

[2021-01-18 13:08] pirate commented on #615
Looks like you have `COOKIES_FILE` disabled in that output, can you post the value you're using for it and exactly how you set it. e.g. via config file, `archivebox config` command, env var, etc.

[2021-01-18 13:16] zapp-brannigan commented on #615
I've just commented it out in my config:

#COOKIES_FILE = /home/user/cookies.txt
root@raspberrypi:/export/container/debian/home/user/archive# file ../cookies.txt
../cookies.txt: Netscape cookie, UTF-8 Unicode text, with very long lines
root@raspberrypi:/export/container/debian/home/user/archive#

Long time ago i used this command to enable cookies:

[2021-01-18 14:36] pirate commented on #615
Ah I think it's because it's read as a `pathlib.Path` in the config loading process, and needs to be converted to a `str` before being added to the wget command during the extraction process `CMD = ['wget', ...]`.

[2021-01-18 20:46] alanfranz commented on #539
I'm experiencing the same issue as @junpet  on Ubuntu 18.04, latest docker-ce (20.10.2) and latest docker-compose.

I think that the underlying issue is that the docker entrypoint file https://github.com/ArchiveBox/ArchiveBox/blob/dev/bin/docker_entrypoint.sh tries to do some magic to drop privileges. But it probably gets something wrong and/or sharing the volumes between multiple containers does

[2021-01-19 23:57] fireattack opened #620 "Bugfix: Use relative import to avoid module confliction"
#### Describe the bug

Currently, there are plenty of places in the source code that doesn't use relative import.

For example, line 20 in admin.py:
[code]

This causes problem when there are other conflicting script/module name in `PYTHONPATH`.

After examining other popular libs that have "util.py" (there are a lot) and have no issue to work, I found they all use relative import which will preve

[2021-01-20 01:55] JohnMaguire opened #621 "Bugfix: docker-compose instructions create a sonic container that fails to start"
#### Describe the bug

I followed the docker-compose instructions from the README. This is the result:

[code]
[code]

Search seems to work anyway.

I would expect one of:

a. `sonic` container is not created by default if it requires the user to manually create a config and is not necessary to run ArchiveBox
b. `config.cfg` is created for me by the init script, using the environment variable I se

[2021-01-20 01:59] JohnMaguire commented on #621
After deleting the automatically generated directory and copying https://github.com/valeriansaliou/sonic/blob/master/config.cfg to `./etc/sonic/config.cfg`, I get the following error:

[code]

[2021-01-20 02:10] pirate commented on #621
Thanks for reporting, @jdcaballerov are there any steps missing I need to add to the readme to get Sonic working?

[2021-01-20 02:11] JohnMaguire commented on #621
One option might be to simply include the example `config.cfg` from the `sonic` repo when running the init command.

Sorry to continue commenting, but I'm working through this still... now that Sonic is running, search doesn't seem to return any results. After `docker-compose stop sonic`, I get results again, but with the notice "Error from the search backend, only showing results from default adm

[2021-01-20 03:41] jdcaballerov commented on #621
@pirate @JohnMaguire  The required `config,cfg` is [included in](https://github.com/ArchiveBox/ArchiveBox/tree/dev/etc/sonic) `etc/` we need to devise a solution to include it for the people not having the `etc` directory ( the config file is mounted as a volume) and are using an image from docker registry. (BUG)

Using the config from https://github.com/ArchiveBox/ArchiveBox/tree/dev/etc/sonic wi

[2021-01-20 03:50] JohnMaguire commented on #621
Perhaps a simple solution would be to amend the docker-compose instructions to include:

[code]

[2021-01-20 03:53] JohnMaguire commented on #621
After updating to use the config from this repo, I am still not seeing results however...

Pre-Search:

<img width="1625" alt="Screen Shot 2021-01-19 at 10 52 32 PM" src="https://user-images.githubusercontent.com/440033/105124893-1d26ff80-5aa9-11eb-8e0d-edeed7ca8301.png">

Post-Search:

<img width="1610" alt="Screen Shot 2021-01-19 at 10 52 40 PM" src="https://user-images.githubusercontent.com/440

[2021-01-20 03:59] jdcaballerov commented on #621
@JohnMaguire Sonic will index the newly added links. For old links you need to manually trigger indexing  with `update` index only option.

[2021-01-20 04:03] JohnMaguire commented on #621
[code]

But still no results or logs to note (tried `google`, `google.com` and `Google`):

[code]

[2021-01-20 04:05] JohnMaguire commented on #621
OK, searching on the public index works correctly. From the admin UI, it returns no results.

[2021-01-20 04:09] jdcaballerov commented on #621
@JohnMaguire rebuilding the index is a task that is managed by sonic and doesn't occur immediately after being instructed to do so. Allow some time without killing it and let us know.

[2021-01-20 04:15] JohnMaguire commented on #621
I added example.com as well, and am seeing the same behavior:

- Searching for "example" on http://192.168.1.14:8000/public/?q=example works.
- Searching for "example" on http://192.168.1.14:8000/admin/core/snapshot/grid/?q=example returns no results.

I know you mentioned "Sonic will only index the newly added links after it's enabled," so I think it should index this? And since the public search

[2021-01-20 13:44] sean-perryman opened #622 "Possible to add link from web UI without logging in?"
My apologies if I missed this in the docs somewhere, or if I am searching for the wrong thing. Is it possible to enable to adding of links without logging in? I am using this on an internal network for users to grab publicly available web pages for inclusion in financial documentation. The ArchiveBox site is not publicly accessible to the Internet, only on the internal network.

A potential fix wo

[2021-01-20 16:37] pirate commented on #622
Yup, you can set that up with `PUBLIC_ADD_VIEW=True`, these are the three permissions options you can toggle depending on your needs:
[code]

[2021-01-20 16:37] #622 closed

[2021-01-20 17:12] thedanbob commented on #621
I'm seeing this as well: searching while logged in as an admin returns no results while searching logged out works properly. I'm also using docker-compose.

[2021-01-20 17:52] pirate commented on #621
What kind of false positives and negatives are you seeing? If you're willing to share screenshots / specific examples of the search queries and bad matches that would help a lot. It could be caused by a number of things, ranging from a bug in the query handling code to using the wrong extractor format for indexing.

[2021-01-20 18:49] thedanbob commented on #621
A search for `scar` matches https://www.radiomods.co.nz/kenwood/kenwoodts440.html

`jack` fails to match that page but matches http://tarpn.net/t/faq/faq_networking_on_purpose.html and http://tarpn.net/t/faq/faq_packet_radio.html

`brass`, `dirt`, and `mantra` fail to match https://teddit.net/r/WritingPrompts/comments/5kxe94/wp_you_live_in_a_world_where_each_lie_creates_a/

`dirt` also matches htt

[2021-01-20 19:02] pirate commented on #621
Can you try enabling either the `readability` or `mercury` extractor @thedanbob and running `archivebox update --index-only` again? Having at least one article text extractor available will yield the highest quality index, it sometimes struggles when it only indexes raw HTML without the cleaned/extracted text.

[2021-01-20 19:34] thedanbob commented on #621
I did have mercury enabled, but I enabled readability as well and reindexed everything. This time a bunch of URLs returned the error `The search backend threw an exception=ERR query_error`. I saw most of the same false positives/negatives, though a few changed:

`jack` no longer matches http://tarpn.net/t/faq/faq_packet_radio.html
`dirt` no longer matches https://nwavguy.blogspot.com/2011/07/o2-he

[2021-01-20 19:54] jdcaballerov commented on #621
Thanks @JohnMaguire @thedanbob for taking time to report. Up to now I've noticed a buffer overflow in sonic that might be causing this weird behavior.

 https://github.com/ArchiveBox/ArchiveBox/pull/625

[2021-01-20 19:55] JohnMaguire commented on #621
Given these entries:

![entries](https://user-images.githubusercontent.com/440033/105227297-1e9b0b00-5b2f-11eb-9a9f-b88072c6558b.png)

The following searches return a single result on the public index, but not admin:

- google
- Google

The following searches return on both:

- example
- Example
- b2
- classy
- weblog tool

The following searches return on neither:

- google.com
- example.com

Fro

[2021-01-20 20:13] thedanbob commented on #621
Thanks @jdcaballerov, #625 fixes all of the false negatives I was seeing (and a few I didn't catch at first). I think all of the false positives can be chalked up to sonic's fuzzy search which I wasn't aware of at first.

[2021-01-20 20:48] thedanbob opened #626 "Bugfix: --overwrite flag ignores disabled outputs"
#### Describe the bug
`archivebox add --overwrite <url>` saves to every output method, including ones the user has disabled.

#### Steps to reproduce
1. Set any `SAVE_<output>` option to False
2. `archivebox add http://example.com` skips that output
3. `archivebox add --overwrite http://example.com` doesn't skip that output

I believe the problem is here: https://github.com/ArchiveBox/ArchiveBox/b

[2021-01-20 23:40] pirate commented on #626
With whatever solution is chosen we should make sure `--overwrite --extract=pdf,favicon` also works as expected.

[2021-01-20 23:44] pirate commented on #620
Fixed: 72e2c7b

[2021-01-20 23:44] #620 closed

[2021-01-20 23:48] fireattack commented on #620
Thank you!

[2021-01-21 00:14] pirate commented on #615
Fixed: ef7711f

[2021-01-21 00:14] #615 closed

[2021-01-21 00:16] pirate commented on #616
It's probably a side effect of running chrome or youtube-dl at init time when we get their versions.

Can you try running these commands manually `chromium-browser --version` and `youtube-dl --version`.

[2021-01-21 00:26] pirate opened #627 "Feature Request: Add Stork and YACY as search backends"
- https://github.com/jameslittle230/stork
- https://yacy.net/

[2021-01-21 21:05] thedanbob commented on #626
What about passing `overwrite` into the `should_save_` functions:

[code]

[2021-01-22 01:10] JohnMaguire commented on #621
After building a Docker image from `553c3ca2192e8ce3b42b018ba3bba10e13494748`, running `docker-compose up -d` to create a new container off the new image, and running `docker-compose run archivebox update --index-only`, I am still not getting results for "google" or "Google" in the Admin. It continues to work on the public index.

[2021-01-22 15:12] pirate commented on #626
Merged and fixed, thanks @thedanbob!

[2021-01-22 15:12] #626 closed

[2021-01-22 16:09] pirate commented on #618
I understand why you want this, but we are more likely going to focus our dev time into improving the performance than adding bandaid features like this.

If it's so slow that it's unable to even load 100 links per page then something is very wrong and we should work on fixing that first. I suspect you're using a slow disk, are you using ArchiveBox on an SSD/HDD/SDCard?

[2021-01-22 16:14] pirate commented on #51
Whoops closed/reopened by accident.  A quick update for those following this issue, we have a number of blocking tasks before we're going to get around to this:

1. Finish refactoring extractors into independent plugin-style modules that define their own config and dependencies
2. Refactor ArchiveBox to use a message-passing/event-sourcing architecture so that all tasks are handled by workers list

[2021-01-22 16:14] #600 closed

[2021-01-22 16:16] pirate commented on #149
Done and merged in v0.5.3, thanks @jdcaballerov!

[2021-01-22 16:16] #149 closed

[2021-01-22 16:18] pirate commented on #121
This should work now in >=v0.5.4 thanks to @mAAdhaTTah, give it a try @ghost and comment back here if you have any troubles.

[2021-01-22 16:18] #121 closed

[2021-01-22 16:18] #546 closed

[2021-01-22 16:34] mcrosson commented on #618
It loads, it just takes longer than I'd prefer and causes a major cpu/ram spike during the loading process.

If there is a plan to focus on performance improvements then this is likely going to become a non-issue when those changes are made. I'm currently using ArchiveBox with a dedicated volume (ssd) on a DigitalOcean VPS with 8Gb RAM and 4 cores inside a Docker container.

[2021-01-22 16:43] raknahs1991 opened #629 "Question: Unable to install archivebox in a Digital Ocean Ubuntu machine"
I've installed all the dependencies, but when I run

`curl https://raw.githubusercontent.com/pirate/ArchiveBox/master/bin/setup.sh | sh`

I get this message saying archivebox not found. What do I do?

[code]

[2021-01-22 16:48] pirate commented on #618
Hmm that should be plenty of horsepower, although in my experience smaller DigitalOcean volumes have very low IOPS performance, which could be a factor.

In the meantime you can try using the static HTML index instead of the server:
[code]

[2021-01-22 16:53] mcrosson commented on #618
TY for the info on how to make it a static html. I'll use that as a work around if needed while the performance updates are worked on.

[2021-01-22 16:53] #618 closed

[2021-01-22 20:56] rpdillon commented on #591
Just picked up ArchiveBox for the first time this past week, and I noticed the media links from the main index don't have a trailing slash, so the relative links in the directory all return a 404.  I thought the extraction was broken, but as I started digging, I discovered it's just an issue of the trailing slash, so now I'm manually adding the trailing slash to access media links.

I took a look

[2021-01-22 22:00] winteriscariot opened #630 "Question: Obey uBlock filter rules?"
Is it possible for any archive methods to obey uBlock filter rules added via the 'picker' utility in uBlock (you can find the full list of them in the 'My Filters' tab in uBlock settings). This would be for uBlock installed in the chrome profile identified in the config.

My other option would be to process the resulting archived files separately to remove the indicated elements, but if archivebox

[2021-01-22 22:01] winteriscariot commented on #630
Issue #211 mentions being able to use ublock:

however it doesn't appear to be obeying user filters

[2021-01-23 10:41] Spacewalker2 commented on #179
Do I get this right? At the point this is available I can for example add an URL (not a feed) like `archivebox schedule --every=day 'http://example.com/static.html'` and the URL gets archived everyday. If there are changes then ArchiveBox provides diffs of it.

Will it be possible that ArchiveBox notifies me if there are changes maybe by using the local MTA?

[2021-01-23 21:58] CodingSpiderFox opened #631 "Browser plugin that submits all surfed URLs to my archivebox to automate archiving"
## Type

 - [ ] General question or discussion
 - [X] Propose a brand new feature
 - [ ] Request modification of existing behavior or design

## What is the problem that your feature request solves
I don't want to manually type the URLs in my shell or run the export script regularly because I tend to for get it and I also want to save my pages right away. Also, I want Archivebox running on my NAS

[2021-01-23 22:12] pirate commented on #631
Duplicate: https://github.com/ArchiveBox/ArchiveBox/issues/577

[2021-01-23 22:12] #631 closed

[2021-01-23 22:12] pirate commented on #577
Copying @CodingSpiderFox's message from duplicate ticket here:

[code]

[2021-01-23 22:17] adamwolf commented on #577
Hi! I haven't followed this project as closely as I have in the past, but I keep seeing it in headlines... good work!

Is there an /add or equivalent API endpoint?  No worries if not... I'm a little overbooked with billable work at the moment but if there isn't one yet, is there a particular ticket that tracks that? I could subscribe to that so I know when to get started on this.

[2021-01-23 22:20] pirate commented on #179
Scheduled archiving will not re-archive the initial page if snapshots already exist, the way that `archivebox schedule` feature is meant to be used is with the `--depth=1` flag to pull in new links from a source like an RSS feed, bookmarks export file, or HTML page with some links in it, without re-archiving the page itself. ArchiveBox has no first-class support for taking multiple snapshots or an

[2021-01-23 22:23] pirate commented on #577
There is an `/add` endpoint now, but it's the one used by the UI so it requires a CSRF token which is a pain for API-style usage. No ticket for fixing that yet, but I'll be sure to post back here once I stabilize that endpoint more.

[2021-01-23 22:24] adamwolf commented on #577
No problem! Do not rush to implement this for my sake! :) Thanks for all your work.

[2021-01-23 22:33] aggroskater commented on #617
I have the same issue @dohlin, which I suspect might be different from the issue @winteriscariot is experiencing. In my case, after enabling Django debug output, I get a KeyError exception:

[code]

The Django error page that is shown has lots of helpful information. I've uploaded it [here](https://share.riseup.net/#D58KDtAp6D-JqxO7-eJlMA) (you'll probably need to download it and view it in a brow

[2021-01-23 22:52] pirate commented on #617
Supremely helpful, thank you @aggroskater. I suspect your diagnosis is correct with the curly braces, that template rendering code is being improved anyway in another branch I'm working on, so hopefully that will clear up some of these issues as well. If anyone wants to submit a patch for it I'll approve and merge it in time for v0.5.4, otherwise expect a few weeks until I have my next chunk of fr

[2021-01-24 09:07] Spacewalker2 commented on #179
Thanks for the quick answer and the very cool application! I already run an ArchiveBox instance on my FreeNAS, and it fits the purpose perfectly. Having the described feature above would be a nice extra. I asked because something like diffs is mentioned on the archivebox.io website itself. If `archivebox schedule` does not fit here then maybe running `archivebox add` with some other time-based job

[2021-01-24 19:42] Aondy39 commented on #616
`chromium-browser --version` also show the message `dpkg-query: no package found matching bluealsa` (and version is `86.0.4240.197 Built on Raspbian , running on Raspbian 10` if that can help) so yeah I guess it comes from chrome.
Running that command isn't that long so I guess it isn't the reason that's making archivebox take quite a long time to run, I guess I'll live with it, it isn't that bad

[2021-01-25 18:32] pirate commented on #591
@rpdillon are you referring to the static main index `./data/index.html`, the django public main index `/public`, the admin main index `/admin/core/snapshot/`? The trailing slash behavior differs between them for an important reasons, adding a trailing slash in the code might fix one index but subtly break the other 2/3 cases. It's already been added and removed several times because of the differ

[2021-01-25 21:06] thprice opened #633 "Question: How to run ArchiveBox under Docker as non-root."
Actually, I run it on Kubernetes, not plain Docker (or, rather, try to run it).

When trying to initialise the archive (database etc.) using
`archivebox init`
it fails with:
`[!] ArchiveBox should never be run as root!`

When running the container as another user than root, it complains that it either doesn't know the user id or fails with:
`error: failed switching to "archivebox": operation not p

[2021-01-25 22:35] pirate commented on #633
I think this is the same issue as here: https://github.com/ArchiveBox/ArchiveBox/issues/539

You can try some of the workarounds others have posted in that thread, or just subscribe and stay tuned for when a fix is pushed.

This only happens in some specific docker scenarios and I think you were unlucky enough to hit one of them. Hopefully we'll have a fix out soon, but I can't promise it'll be th

[2021-01-25 22:35] #633 closed

[2021-01-26 01:26] rpdillon commented on #591
Heya @pirate!  Thanks for alerting me to these three cases!  Only one has the trailing slash in my instance running version 0.5.3:

  - ✔️ `./data/index.html`
  - ❌ `/public`
  - ❌ `/admin/core/snapshot`

So your suspicion seems correct: if we change schema.py it'll break one to fix the others.  I'm happy to take a look over the next couple of days in the evenings to see if I can put up a PR to ad

[2021-01-27 12:41] Wanty5883 opened #634 "Feature Request: Ability to tag URLs on the Add page and bulk add/remove tags on the list page"
## Type

 - [ ] General question or discussion
 - [x] Propose a brand new feature
 - [ ] Request modification of existing behavior or design

## What is the problem that your feature request solves

Being able to add / remove / edit tags of multiple snapshots at once.

## Describe the ideal specific solution you'd want, and whether it fits into any broader scope of changes

I think this feature sh

[2021-01-27 16:24] pirate commented on #634
Definitely a good idea, we could have a field to add/remove multiple tags on the snapshot admin page (`/admin/core/snapshot/`) near the search bar.

[2021-01-27 19:44] Wanty5883 commented on #634
Wouldn't it be easier to do that from the snapshot page ? There is already selection boxes for pages.

What about from the add page as well ?  So it is possible to bulk add pages from the same topic ?
The ability of doing this later on is definitly great but being able to do that in a single step process would make it a lot easier as well. Basically adding a tag field on the add page. Maybe making

[2021-01-27 19:51] pirate commented on #634
Ah yes, definitely also possible to add a tag field to the `/add` page. That's an easy ticket that anyone can pick up, I'll add the `help wanted` tag to this issue.

[2021-01-28 02:47] lylebrown commented on #456
I'm attempting to set up SMB storage myself, but don't mind using local storage for the application/config files, just the archive (that will take up more file space) should be on a network drive.

You mentioned putting only `data/archive` on the SMB share. I tried that and I get 400 errors every time I attempt to archive a URL. Is that still not supported either? Just trying to understand if that

[2021-01-28 14:21] pirate commented on #456
It should be supported, not sure why it's failing. Do you mind running the server with `archivebox server --debug ...` or setting `archivebox config --set DEBUG=True` and posting the verbatim output / screenshots of those 400 errors. Will help narrow down what the root cause is.

[2021-01-28 19:33] lylebrown commented on #456
So there were some permissions errors at first that I had to fix. But now I believe my issue is with atomic writes based on the error I'm getting. It's strange, because it did write the index.json file and it appears to be complete. Let me know if you need the full trace.
[code]

[2021-01-28 19:38] pirate commented on #456
I need the full trace to know what part of the code called `atomic_write`, as the filesystem behavior may be different depending on where it's being called.

[2021-01-28 19:40] lylebrown commented on #456
[code]

[2021-01-28 21:47] thprice commented on #633
Thanks for your response. It may be the same issue but I'm not sure. #539 is about file system access problems while this here seems to be about errors switching the uid.

No need for a reopen, though. I'll wait for the fix and try again. Maybe, I'll come back then. :-)

[2021-01-28 23:18] pirate commented on #633
The fix for UID/GID switching issues is the same fix as the one for #539 (I think), it's actually already on `dev` if you want to try it.

[code]

[2021-01-29 01:25] lylebrown commented on #456
That was the hint I needed, thanks! I may not be doing things in the ideal way with my smb share, but I'm using `file_mode=0777,dir_mode=0777` as options in my `fstab`, and I needed to add the `noperm` option for it to be able to respond to chmod calls with success (even if they aren't actually making changes).
I'm open to suggestions to better manage permissions, but I don't think I have many opt

[2021-01-29 01:45] pirate commented on #456
Yeah haha I also run my smb shares with forced `file_mode=0777,dir_mode=0777`, too many hours of my life wasted fighting with permissions on shared network drives.

[2021-01-29 05:48] thprice commented on #633
Thanks for the fix. It can confirm that it works (at least for me :-))

[2021-01-30 01:42] evanfarrar commented on #629
Hello! I am just a fellow user but I thought I'd try to support you. It seems that the default Ubuntu that Digital Ocean points you to is 18.04. This prevents archivebox from installing via pip, because archivebox requires [Python >=3.7](https://pypi.org/project/archivebox/). However, you could install the package if you instead booted a droplet with Ubuntu 20.04, a newer version that comes with a

[2021-01-30 06:11] pirate commented on #629
Whoops ignore the close and reopen, try the install script on `dev`:

`curl https://raw.githubusercontent.com/ArchiveBox/ArchiveBox/dev/bin/setup.sh | sh`

[2021-01-30 06:16] evanfarrar commented on #629
yeah the `apt install -y` is definitely what it took for me to get it working, and also had to use a different chromium package

[2021-01-30 07:30] pirate commented on #591
I think I fixed this in v0.5.4, give it a try:
[code]

[2021-01-30 08:03] pirate opened #637 "Add `SNAPSHOT_ADD_STRATEGY=depth|breadth` config flag to set archiving strategy"
This would allow the user to set the behavior when adding multiple urls at once.

Do you want to archive each url using each method, sequentially down the list?
[code]
[code]

Or do you want to first get the title & headers for every url, then go down the list again and get the media/git, ... though each extractor?
[code]
[code]

Depth-first is more straightforward and intuitive (the CLI output is

[2021-01-30 16:36] osborne6 opened #639 "Feature Request: allow for importing WebScrapbook archives"
## Type

 - [ ] General question or discussion
 - [x] Propose a brand new feature
 - [ ] Request modification of existing behavior or design

## What is the problem that your feature request solves

It may be useful to import other archive snapshots of websites create from the WebScrapbook plugin for Firefox, Chrome, etc.

## Describe the ideal specific solution you'd want, and whether it fits int

[2021-01-31 01:12] tabashir commented on #639
Funnily enough, I was just playing around with AB as an alternative to WSB myself.

I found that to get a list of sources to import, the following will give you I think what is needed:
`
cat tree/meta.js |grep '"source":' | sed 's/.*"source": "//' |sed 's/".*$//' |tee import.txt
`
You can then import this with pasting in the web frontend, or:
`
cat import.txt | docker-compose run --rm archivebox a

[2021-01-31 01:35] pirate commented on #639
I think that sonic overflow is fixed in v0.5.4 fyi @tabashir. Give `dev` a try:
[code]

[2021-01-31 01:56] pirate opened #640 "Bug: Figure out why `archivebox add --overwrite https://url...` creates a new snapshot dir instead of merging with an existing one"
possibly caused by `merge_links(a, b)` becoming `return a`

[2021-01-31 03:49] cdvv7788 commented on #640
Oh, @pirate in the refactor this had a `TODO` too. Sorry.

[2021-01-31 10:33] tabashir commented on #639
Thanks so much for the pointers here @pirate I'll give that a go for the missing ones.

In relation to the sonic issue, after posting this I did find reference to it in the PR: https://github.com/ArchiveBox/ArchiveBox/pull/625 . I manually hacked the sonic.py within my docker image and that seems to have done the trick too. Will give the dev image a go too though.

[2021-02-01 01:14] evanfarrar commented on #629
Can confirm, it installs on DO with the script on `dev`

[2021-02-01 08:41] pirate commented on #629
`dev` is released as v0.5.4, should be fixed as soon as the apt build goes live.

[2021-02-01 08:41] #629 closed

[2021-02-01 09:51] #591 closed

[2021-02-01 09:54] #616 closed

[2021-02-01 09:55] pirate commented on #617
v0.5.4 is released, please give it a try. Report back here if you have any further issues and I can reopen the ticket.

[2021-02-01 09:55] #617 closed

[2021-02-01 09:57] pirate commented on #621
This should be fixed now in v0.5.4, please give it a try. Report back here if you have any issues and I can reopen the ticket.

Please note while the content, title, and tags support full-text search / substring search, URL search must be exact at the moment. This will be improved in a future version.

[2021-02-01 09:57] #621 closed

[2021-02-01 09:58] pirate commented on #539
This should be fixed now in the latest v0.5.4 release, please give it a try. Report back here if you have any problems and I can reopen the issue.

[2021-02-01 09:58] #539 closed

[2021-02-01 10:00] pirate commented on #471
This original issue should be fixed now in the latest v0.5.4.

The other error `sqlite3.OperationalError: database is locked` is due to archivebox being slow :(, unfortunately its an architectural issue we're still working on, stay tuned for v0.6. For now don't throw extra RAM/CPU at it, rather try avoid archiving more than 1 link at once, or using the UI heavily while it's in the middle of archiv

[2021-02-01 10:00] #471 closed

[2021-02-01 10:01] #609 closed

[2021-02-01 10:02] #602 closed

[2021-02-01 10:03] pirate commented on #604
In the new version I check that the file is at least 1 byte. I don't want to make it any more granular than this because otherwise it'll flag valid empty 200 responses (yes, that is a thing) as failing URLs.

I'll consider adding more healthchecks in the future for extractor output, but for the moment I think this is enough.

[2021-02-01 10:03] #604 closed

[2021-02-01 10:03] #606 closed

[2021-02-01 10:04] pirate commented on #594
Please try the latest v0.5.4 release and report back if you're still having problems and I can reopen the issue.

[2021-02-01 10:04] #594 closed

[2021-02-01 10:05] pirate commented on #598
This is done and out in the new `v0.5.4` release. It will now hide the Archive.org iframe / preview on the Snapshot detail page if it was archived while `SAVE_ARCHIVE_DOR_ORG=False` was set.

[2021-02-01 10:05] #598 closed

[2021-02-01 10:11] pirate commented on #596
It's caused by both `name=...` and `slug=...` being used to create a unique Tag, but only one of those fields conflicts with an existing Tag you have.

`archivebox/core/migrations/0006_auto_20201012_1520.py`:
[code]

This is a rare but annoying edge case, the it's a simple 1-line fix, but I didn't manage to add it in time for the v0.5.4 release.

[code]

[2021-02-01 10:17] #596 closed

[2021-02-01 10:19] pirate commented on #22
This was released in `v0.5.3` and improved in v0.5.4. Future improvements are yet still planned, but we can track those in separate tickets.

[2021-02-01 10:19] #22 closed

[2021-02-01 10:26] pirate commented on #487
This should be fixed in the latest v0.5.4 release. If anyone is still having issues just comment back here with the failing URLs and where they were seen and I'll reopen.

[2021-02-01 10:26] #487 closed

[2021-02-01 10:27] pirate commented on #454
We're now on `v0.5.4`, this may be worth trying again (back up any important data first).

[2021-02-01 10:29] pirate commented on #556
progress update:

- [x] After installing the software, run USER $ARCHIVEBOX_USER to switch from root (done via the entrypoint script)
- [x] Provide ENV vars so the useradd and useradd commands support user definable UID and GID. (now respects PUID and GUID env vars in `>=v0.5.4`)
- [ ] I dont seem to be able to get the TZ to change out of the default UTC setting.

[2021-02-01 10:31] pirate commented on #557
I suspect the original issue here is being caused by this https://github.com/ArchiveBox/ArchiveBox/issues/640

[2021-02-01 13:09] Wanty5883 opened #641 "Feature Request: Tag management"
## Type

 - [ ] General question or discussion
 - [ ] Propose a brand new feature
 - [x] Request modification of existing behavior or design

## What is the problem that your feature request solves

Not being able to sort the tags list in other than the tag page. Which is a significant problem as the tag list scale up

## Describe the ideal specific solution you'd want, and whether it fits into an

[2021-02-01 13:17] Wanty5883 commented on #641
I'll use this ticket to ask a question so I don't have to open a second one.

I am using ArchiveBox in a docker container. It is really slow for me, not archiving a web page, but just the browsing of ArchiveBox itself, changing tags, going to another page, etc.
Did I miss something obvious ? How can I diagnose this issue so I can learn how to fix it ?

[2021-02-01 16:40] drpfenderson commented on #597
I didn't want to reopen this without verifying that this was simply a problem with some old config cruft hidden somewhere, but I am experiencing what seems to be this same issue when running the newly-released v0.5.4 using `docker-compose`. The archive I'm trying to upgrade is from v0.4.21.

[code]

Output of `--version`:
[code]

I thought it might be old config or something possibly interfering,

[2021-02-01 19:02] pirate commented on #597
Different issue, but related, I can fix it. Can you post one of your `archive/<timestamp>/index.json` files from the old version so I can check for any other null/missing fields.

[2021-02-01 19:04] pirate commented on #641
v0.5 is quite slow due to some architectural issues, we're going to improve the speed in v0.6 significantly hopefully.

Make sure you're running it on an SSD, it relies heavily on fast disk access more than CPU or RAM.

[2021-02-01 19:19] drpfenderson commented on #597
Here is one with user/drive snipped out:
[code]
Here is another:
[code]

Let me know if you need any more, and much appreciated!

[2021-02-01 19:25] pirate commented on #597
If you can search for one that has `"cmd_version": null`, that would be helpful. No worries if you don't see any, the fix is the same either way, I'm just curious if it's actually stored as `null` or if it's missing `output` entirely.

[2021-02-01 19:51] drpfenderson commented on #597
Built and ran using provided commands, different error:
[code]

As an aside, I did find a few files that had more null fields using the search term you provided briefly in an edit to your last comment, though I don't know if that's needed now.
[code]

[2021-02-01 21:33] pirate commented on #597
Added another fix for that error, mind pulling/rebuilding from dev and trying again? @drpfenderson

The new change just skips invalid links and prints why they failed instead of breaking the entire migration:
[code]
If you see any failed links `! Skipping import due to missing/invalid index.json` in the output just post a couple of those `index.json` files only as a response here.

[2021-02-01 22:14] drpfenderson commented on #597
Pulled dev, built, and ran init. No errors thrown, and successful! I tested with `docker-compose up -d` and checking in browser. There are some weird things here and there, like main index showing 0 sources for a link, but navigating to a single link's index shows that it has all sources intact. But I'll file a separate bug report for that, as this issue is resolved! Thanks again @pirate and @cdvv

[2021-02-01 22:16] #597 closed

[2021-02-01 23:21] drpfenderson opened #642 "Bug: Imports from older archives lead to `ArchiveResult(output=None, status='skipped')` entries polluting `latest_outputs` and showing 0 files in the UI"
#### Describe the bug
When viewing the webserver index of my archive, using `docker-compose up -d`, certain entries show that they have 0 sources available for viewing. However, clicking on the entries show that there are multiple, sometimes all, sources.

#### Steps to reproduce
1. Upgraded my 0.4.2 archive to the 0.5.4 0aea5ed3e82294c0584a147eae14f40fefda45de using `docker-compose run archivebox

[2021-02-01 23:31] Wanty5883 commented on #641
The docker container runs on a VM but the snapshot content does store in a HDD. Basically only the `/data/sources` and `/data/archive` does point to the HDD.

What about the tag list in the webpage overall ? Planning to change that as well ? Having a lot of tags and not being able to sort them in different ways is kinda hard as it does scale up

[2021-02-01 23:46] drpfenderson opened #643 "Questions: Alternate title source, regex woes, updating single links, blacklisting updates, and piping lists to delete/remove links in Docker"
Y'all have been so amazingly helpful with bugs and errors, but every once and a while I find a tidbit that my perusing of the issues/documentation can't seem to meet. It could definitely be that I'm overlooking something. They never seem big enough to ask on their own, so I've been compiling a few of my queries from the past year into one post. These are definitely not feature requests, more "I th

[2021-02-02 02:58] pirate commented on #643
The title is actually fetched using `requests.get`, not with wget, but I can see why you want to switch it to Singlefile. If we switch over to playwright and get the headless browser scripting side of things worked out, `title` will be one of the first extractors we'll switch over to JS. That probably wont be for at least 4+ months though.

You can test your regex works for ArchiveBox by using the

[2021-02-02 03:03] pirate commented on #641
Yeah, improving tagging + organization in general is definitely on the roadmap, but to be perfectly honest it's 2nd priority compared to performance and stability.

I think we have a long way to go with performance, and there's some deep refactoring needed to go from the old "run a bunch of bash commands sequentially and store the results in text files" approach to the new "manage a pool of async

[2021-02-02 03:14] pirate commented on #642
So in v0.5.4 we switched from using the filesystem as the single-source-of-truth on archive outputs, to using the sqlite3 database.

This means that in your import from your v0.4.2 archive, it read some `link:history` entries in the `index.json` into `ArchiveResult` DB rows.

Unfortunately we didn't backtest old versions enough when we released v0.5.3, and we forgot that older archives (<`0.4.20`

[2021-02-02 08:40] idolux opened #644 "Feature Request: Remove CDN"
## Type

 - [ ] General question or discussion
 - [ ] Propose a brand new feature
 - [x] Request modification of existing behavior or design

## What is the problem that your feature request solves
The client requests javascript files from third party CDNs.

https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js
https://code.jquery.com/jquery-3.2.1.slim.min.js

## Describe the

[2021-02-02 08:43] idolux opened #645 "Feature Request: Disable original preview"
## Type

 - [ ] General question or discussion
 - [ ] Propose a brand new feature
 - [x] Request modification of existing behavior or design

## What is the problem that your feature request solves
The archive overview connects to the archived content and therefore leaks the users IP address. It would be good to completely avoid third party connections once archived.

## Describe the ideal specifi

[2021-02-02 17:15] pirate commented on #644
Hmm how do these CDN assets keep getting added back, this is like the 3rd time I've removed them...

[2021-02-02 21:29] wonderingwombat opened #646 "Question: Resume pending snapshots?"
I loaded a large list of URLs into an ArchiveBox instance running on Docker. I had to restart the computer that ArchiveBox was running on. Now most of the snapshots show a status of Pending. From what I can see these snapshots haven't started downloading again after the restart.
Is there a way of resuming these downloads in bulk for all snapshots that are pending?

[2021-02-02 22:47] drpfenderson commented on #643
1. Good to know! Now that I've discovered the new title-editing feature in the web GUI, I can fix the very few that have this issue. Wonderful feature. That, and the tag editor, are saving my brain with these last handful of older links I have as holdover from previous version.
2. The regex matched properly using your method of testing, and after a number of different tests turns out that adding i

[2021-02-06 01:54] khimaros opened #647 "Feature Request: search by status in web ui"
## Type

 - [ ] General question or discussion
 - [x] Propose a brand new feature
 - [ ] Request modification of existing behavior or design

## What is the problem that your feature request solves

i have an enormous number of links to archive and would like to be able to search for the ones which have already been archived in the web ui.

## Describe the ideal specific solution you'd want, and w

[2021-02-06 02:03] khimaros opened #648 "Documentation: document how to pull bookmarks from Firefox Sync"
## Wiki Page URL

https://github.com/ArchiveBox/ArchiveBox/wiki/Quickstart#2-get-your-list-of-urls-to-archive

## Suggested Edit

document how to pull bookmarks and/or history from the Firefox Sync server.

this enables the user to simply bookmark pages they want to archive on their desktop and mobile browser and they will automatically be archived by archivebox.

here's what worked for me.

deter

[2021-02-06 03:13] khimaros opened #649 "Improve DB query performance for rendering snapshot_icons on snapshot index pages"
#### Describe the bug

#### Steps to reproduce

on a modern laptop with NVMe drive running Debian Testing:

1. `archivebox init`
2. `cat 3000urls.txt | archivebox add`
3. cancel the addition, doesn't need to complete
4. `archivebox server`
5. visit `/public/`

page load takes 15+ seconds.

#### Screenshots or log output

i'm including a run with [Django profiling middleware](https://medium.com/kam

[2021-02-06 10:37] berezovskyi commented on #649
Thanks for profiling this! I have the same problem but was thinking it was related to the slow HW I am using for running ArB.

Why does `snapshot_icons` 15.134s to execute?! I see that there's already some code commented out there, so perf issues must have been tracked down to that function before:

https://github.com/ArchiveBox/ArchiveBox/blob/04c951cdd50e9ab8f4257e0f702ee909506af01d/archivebox/i

[2021-02-06 15:56] berezovskyi opened #650 "Feature Request: Lightweight rg configuration"
## Type

 - [ ] General question or discussion
 - [ ] Propose a brand new feature
 - [x] Request modification of existing behavior or design

## What is the problem that your feature request solves

I have about 5000 items in the library, ripgrep FTS on them takes around 75s when run from the host CLI, may be a bit longer on Docker. It times out after 60 seconds as per a hardcoded constant in http

[2021-02-06 16:08] berezovskyi commented on #550
This does not solve the problem but here is a workaround that I have developed on my system. I have a crontab entry to run this a few times at night:

[code]

If you want to update the whole archive, delete the $LOG file.

You should also enable swap limit support: https://docs.docker.com/engine/install/linux-postinstall/#your-kernel-does-not-support-cgroup-swap-limit-capabilities

[2021-02-06 16:39] berezovskyi opened #651 "Bugfix: `archivebox update` still leaves many items Pending"
#### Describe the bug

When there are some items that were not successfully archived and I run `archivebox update`, some items remain "pending" but can be still archived through the web UI.

#### Steps to reproduce

1. Import a lot of URIs and hit https://github.com/ArchiveBox/ArchiveBox/issues/550.
2. Restart ArchiveBox.
3. Run `archivebox update`.

#### Screenshots or log output

After running `

[2021-02-06 17:07] khimaros commented on #649
it looks like per-call cost is relatively low at `0.005` seconds, but it is being called once for each snapshot, `3113` times, even when only displaying 100 items per page. `paginate_by` is defined as it should be:

https://github.com/ArchiveBox/ArchiveBox/blob/cc80ceb0a27d1aa0564f43e4d21d069272eab3c0/archivebox/core/views.py#L94

i'm not an expert in django, but i suspect that `get_queryset()` is

[2021-02-06 17:08] khimaros commented on #649
this may not be idiomatic for django, but i couldn't find any really clear documentation on how the overall call flow is meant to be for pagination. however, this seems to work and improves performance significantly:

[code]

[2021-02-06 17:28] khimaros commented on #649
actually, the above improves performance but is not correct. the snapshot data is not updated in the returned queryset. returning `pqs` here isn't right either and breaks pagination. i feel there must be an equivalent to a `get_paginated_queryset()` where heavy lifting like this can be done but haven't found it.

looking at the django implementation, it seems like it might be possible to do this i

[2021-02-07 19:40] pirate commented on #649
`snapshot_icons` is already a well-known hotspot in the code, the plan is to transition away from using FS access to determine if archied outputs are present, to using the DB exclusively.

The correct way to do this is with 2 queries, one to fetch the queryset of Snapshots to show on the page, and one to fetch all the most recent ArchiveResults for each Snapshot returned by the first query. Then h

[2021-02-07 21:45] sistein commented on #613
Any expectations when 0.5.3-2 will be available via apt?

I would prefer to change to the more simple apt installation and 0.5.3-1 is still delivered there.

[2021-02-08 04:18] pirate commented on #613
oh we're already on 0.5.4 at this point, just `apt update; apt upgrade archivebox`

[2021-02-08 15:31] sistein commented on #613
@pirate looks like the build is failing => No update via apt upgrade

https://launchpad.net/~archivebox/+archive/ubuntu/archivebox/+build/20962645

[2021-02-08 18:44] pirate commented on #613
Looks like Debian changed the build tool they use on their servers from dh-python to pybuild, which broke my build :(

You can install via `pip` or `dpkg` for now until I fix it.

[2021-02-09 04:07] pirate commented on #613
Build is passing, try now: https://launchpad.net/~archivebox/+archive/ubuntu/archivebox/+build/21002060

[2021-02-09 19:52] reelsense commented on #223
Cartulary a digital archiver. But, you could also call it a social network in a box. It's an RSS reader, RSS aggregator, readability tool, article archiver, microblogger, social graph manager and reading list manager.

It looks like it's designed _only_ for S3.
https://github.com/daveajones/cartulary

[2021-02-10 09:56] pirate commented on #646
Just go to the admin UI, check the ones you want to resume, and click the "Archive" button.

Or run the `archivebox update` command to do it via the CLI:
[code]

[2021-02-10 09:56] #646 closed

[2021-02-11 22:45] drpfenderson opened #653 "Question: Does Archivebox 0.5.6 still output static index.html?"
I just noticed that the old `index.json` and `index.html` that were in my root archive directory have been renamed `_old`, but I'm not seeing a new version being output with my archive in the most recent 0.5.6 version. If I recall, the `index.json` was phased out in favor of the sqlite3 method. Has the static html been phased out for the server, or some other method, in the newer version? Is it pe

[2021-02-11 23:04] ekiel commented on #653
`docker-compose run archivebox list --html --with-headers > index.html`

This should work and I'm testing it now...

[2021-02-11 23:40] drpfenderson commented on #653
Asked and answered! Thanks a ton @ekiel

[2021-02-11 23:40] #653 closed

[2021-02-11 23:52] pirate commented on #653
We're pushing towards the server for security reasons. Static HTML is unfortunately very risky because replayed JS can make arbitrary requests to other files on your filesystem, including reading your whole index and all the other sites you've archived. The server aims to fix that by serving snapshot content with headers to lock down XSS/CSRF/CSP/etc.

You can still generate static html/json/csv m

[2021-02-15 00:48] alsokpisz opened #654 "Bugfix: Error: Search Backend only searching default admin search fields"
#### Describe the bug

**Bug**:
The bug occurs when I attempt to search any query. An error message appears saying: `"Error from the search backend, only showing results from default admin search fields -Error:[Errno -3] Temporary failure in name resolution."`

If the search query is a word in the title of a website, it will return results with that word in it.
If it is only in the wget snapshot o

[2021-02-15 13:21] jdcaballerov commented on #654
@alsokpisz The error message describes a mis configured dns in the docker compose setup. If the search backend can't be queried the search will only occur in the url and title, the admin fields.

[2021-02-15 18:25] pirate commented on #654
@alsokpisz as @jdcaballerov mentioned this is likely a DNS resolving issue inside your docker-compose network. Docker on macOS is infamous for having container DNS issues, so I wouldn't be surprised if Docker on Windows is plagued by similar bugs.

To confirm that Sonic is up and running and accessible from the archivebox container, can you run these python commands manually and report back what o

[2021-02-15 20:39] alsokpisz commented on #654
Two arrangements, one based on an empty sonic folder which was created by the docker-compose setup, and then I will also try your suggested arrangement.

**Arrangement 1:**
[code]
**Results:**
No selectable checkboxes on the left hand side of the UI. Everything is much much faster. Queries no longer produce the error message but produce the same functionality (still only searching title fields) (s

[2021-02-16 05:13] pirate commented on #654
Inside of docker is always linux, so having a Windows path in this docker command doesn't make sense: `docker-compose run archivebox C:/Python37/python`

Run it verbatim as I posted above, and paste in the script line by line (don't make a file):
[code]

[2021-02-16 05:17] alsokpisz commented on #654
![image](https://user-images.githubusercontent.com/36479341/108021344-369d6780-6fd3-11eb-9d22-77e9a2f3686d.png)
Causes a subargument issue.

[2021-02-16 08:03] pirate commented on #654
try `docker-compose run archivebox shell`

[2021-02-16 18:24] N7KnightOne opened #656 "Question: Full Page Screenshot"
Is it possible to set the screenshot configuration to capture the full page?

[2021-02-16 20:10] pirate commented on #656
Duplicate: https://github.com/ArchiveBox/ArchiveBox/issues/80

[2021-02-16 20:10] #656 closed

[2021-02-16 22:02] alsokpisz commented on #654
**Result:**
`Received b'CONNECTED <sonic-server v1.3.0>\r\nENDED '`
I tried this when `docker ps` still shows both services running.

[2021-02-17 00:19] pirate commented on #654
Great! That means both DNS and the TCP socket to the sonic container are working. Try this next in `docker-compose run archivebox shell`:

[code]

[2021-02-17 00:35] alsokpisz commented on #654
**Results:**
`['3ad870d4-82b5-4974-a6ce-ee8cc6a235fa', '5d6734a5-1b9d-418a-a215-8e1e1dbdb8e5', '74696c7d-4421-46b8-8f35-9f1c9537ee1b', 'fca5096f-13da-4d94-8afd-5d742d7b3fb4', '6f009e8d-947a-4fa7-94d7-f21a94c2b525']`

[2021-02-17 18:29] pirate commented on #649
I did the quick-and-dirty fix and added Django caching (among lots of other small query performance improvements). Brought load times on the main index down from 10-14sec for big collections to 110ms after the cache warmed up.

https://github.com/ArchiveBox/ArchiveBox/pull/655

Feel free to test that dev branch, but beware it's not totally finished, still some bugs left to fix so make sure you bac

[2021-02-18 07:08] alsokpisz commented on #654
Seems like any page which is a .pdf, or .jpg causes this error during the index command:
[code]
And then it hangs.

After removing all the .pdf links and .jpg which I suspected was causing some problems it kept causing the following error:
[code]
Now there are no errors when I run the re-index command, but it will still spend ages on random pages. Notably stuff with 'weirder' components like live

[2021-02-18 15:38] jdcaballerov commented on #654
@alsokpisz the public search view is not connected to the search backend for security and performance reasons.

[2021-02-18 15:40] lastb0isct opened #657 "Question: Confluence Support?"
I am trying to use Archivebox to archive a confluence page that requires a login.  I have added the chrome-user-dir and everything but it doesn't seem to be using the saved login.  Is that anyway to login to the page in a different way?

[2021-02-18 20:21] alsokpisz commented on #654
Well that's that then I suppose.
Is there a way to set a "timeout" per link on the `docker-compose run archivebox update --index-only` command? So it will skip links it spends more than say, a minute trying to index?

[2021-02-21 17:23] jacobwhall commented on #630
I would also like to get this set up. According to #211 that you linked, this can be achieved by [using the CHROME_USER_DATA_DIR option](https://github.com/ArchiveBox/ArchiveBox/wiki/Configuration#chrome_user_data_dir). You might also find #516 helpful. Good luck!

[2021-02-25 04:05] pirate commented on #630
This is a valid question, but I'm actually going to close this in favor of keeping the discussion here: https://github.com/ArchiveBox/ArchiveBox/issues/211, because I already had uBock Origin + Ghostery in mind for the implementation of that ticket.

Using `CHROME_USER_DATA_DIR` and installing the extension in that profile works for some people, but is buggy/impossible on other OS/browser combos.

[2021-02-25 04:05] #630 closed

[2021-02-27 15:39] berezovskyi opened #658 "Bug: Admin panel actions do not work in Safari and Epiphany"
#### Describe the bug

"No action selected." error is returned from the admin pages when trying to run actions like Archive via Safari.

#### Steps to reproduce

1. Open http://%HOST%/admin/core/snapshot/?p=1 page
2. Select a few entries by ticking the checkboxes.
3. Click the Archive button.

#### Screenshots or log output

Before:

![image](https://user-images.githubusercontent.com/64734/1093918

[2021-03-01 01:51] pirate commented on #658
Interesting, I had not run into this myself in Safari on macOS Catalina in the past, but I'll investigate again now that I'm on Big Sur.

[2021-03-05 12:46] CatalinFrancu opened #659 "Bug: TEMPLATES_DIR cannot be changed"
#### Describe the bug

According to the [Configuration](https://github.com/ArchiveBox/ArchiveBox/wiki/Configuration) wiki page, I should be able to change `TEMPLATES_DIR` to customize the layout. However, I cannot seem to change it.

Editing `ArchiveBox.conf` manually does nothing: `archivebox config --get TEMPLATES_DIR` and `archivebox version` still report the default path, which in my case ([Ar

[2021-03-05 16:32] adamwolf opened #660 "Feature Request: description/notes per entry?"
## Type

 - [X] General question or discussion
 - [ ] Propose a brand new feature
 - [ ] Request modification of existing behavior or design

## What is the problem that your feature request solves
I need to remember why I added something :)

## Describe the ideal specific solution you'd want, and whether it fits into any broader scope of changes
What are your thoughts on adding a description or n

[2021-03-05 18:34] pirate commented on #659
Changing that dir used to be supported but is no longer officially supported since we moved to django.

Instead for now I recommend applying a patch to the files inside `/usr/lib/python3.9/site-packages/archivebox/templates` manually (save your changes somewhere else so that you dont lose them during updates). Future versions may bring back the override ability, but it's not high on our priority l

[2021-03-05 18:44] pirate commented on #660
I would not be opposed to adding it but I don't know how it's going to fit, we don't have much new column space available in the list views.

In general you may prefer a different tool like Archivy if you want more notes-centric archiving.

[2021-03-05 18:49] adamwolf commented on #660
Yeah, I get the spacing thing.  Hmm. I'd personally be OK if it was only in
the detail view.

I'm currently abusing tags for this (and probably could keep doing that
forever).

On Fri, Mar 5, 2021 at 12:44 PM Nick Sweeting <notifications@github.com>
wrote:

[2021-03-05 19:14] pirate commented on #660
If you want to add a field and make it visible in the detail view only to start that's fine by me. We can figure out a way to squeeze in in the list views / elsewhere later.

[2021-03-06 09:54] CatalinFrancu commented on #659
Thank you for the explanation! It might be worth updating the wiki page to reflect this. We will probably use the frame contents only and provide our own header to integrate with the rest of the website. Sadly, I am not proficient enough in Django to be of any help. :-/

[2021-03-08 04:34] pirate commented on #659
Reopening this because we do want to fix this at some point.

[2021-03-10 17:11] pirate commented on #577
Ideally a browser extension for ArchiveBox should be releasable cross-platform with minimal effort on the packaging side. Does anyone know of a good browser-extension boilerplate / packaging project that takes care of all the legwork? (e.g. something equivalent to FPM in the Debian packaging world?)

Some of my research so far:

- https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensi

[2021-03-12 15:06] bobberb opened #661 "Archiving inline images"
Dear ArchiveBox community,

I am attempting to migrate my archive from Wallabag to this platform. One feature I cannot seem to grasp is image saving.

 In Wallabag, I have the option to (by default) link to images or, as I prefer for achival purposes, save images on a page with modified readability output replacing the hot link with a local copy and automatically editting the output of readability

[2021-03-12 19:42] pirate commented on #661
The Wget and Singlefile extractors in ArchiveBox both do as you describe, downloading all images locally and replacing the URLs to point to the local versions.

You can toggle this behavior for wget with the `archivebox config --set SAVE_WGET_REQUISITES=True`/`False` option.

[2021-03-12 19:51] bobberb commented on #661
I see my error. When I long press on Android it was giving me the original
URL but I see now when I copy-link-location it presents the base encoding.

Sorry to bother.

On Fri, Mar 12, 2021, 2:42 PM Nick Sweeting ***@***.***>
wrote:

[2021-03-12 19:56] #661 closed

[2021-03-14 13:52] thentoorglan-x commented on #621
I'm still facing this issue.

[code]

I tried creating config.cfg as described by @JohnMaguire too.

[2021-03-14 13:53] thentoorglan-x commented on #621
I'm still facing this issue.

[code]

I tried creating config.cfg as described by @JohnMaguire too.

[2021-03-14 13:58] thentoorglan-x commented on #621
Ubuntu 20.04 LTS @pirate

[2021-03-15 17:36] voarsh2 opened #663 "Question: How to get Chromium Browsing data to ArchvieBox when it is in a VM?"
I'm running Chromium on my desktop, completely separate from my ArchvieBox VM.
How would I get my browser history in to it?
The documentation assumes they're both running together?

[2021-03-15 17:53] voarsh2 commented on #577
This extension would be great.
Also, as well as submitting urls with a click, it might make it easy to have an automatic submission (if that's an option and turned on), to submit browser history.

[2021-03-15 20:03] pirate commented on #663
They don't have to be running together, you can mount your CHROME_DATA_DIR inside the VM and pass it to archivebox.

[2021-03-15 22:46] voarsh2 commented on #663
I can't run .sh on Windows, I need Linux for that.
The VM I refer to... is on another host system, I can't mount my chrome directory from my PC, over the network to another host....
I might be able to install Chrome on a network share... but that's getting messy here....?

[2021-03-15 23:10] mAAdhaTTah commented on #663
The new WSL2 should be able to run it. If you're not familiar you can install it here: https://docs.microsoft.com/en-us/windows/wsl/install-win10

[2021-03-16 03:11] voarsh2 commented on #663
Lucky I have Windows 10 Pro. The average home user doesn't have this, I believe.

How am I going to run a Linux (say Ubuntu), mount Chrome data, and send my data to the remote VM (over LAN) (ArchiveBox) (I will not run ArchiveBox on my WSL2, on my desktop).
If this is so tricky, then I think the project needs some sort of API, or chrome extension or native Windows app.

[2021-03-16 05:04] pirate commented on #663
ArchiveBox doesn't require WSL2, just the browser history export helper script. I don't use Windows, nor do I have a Windows machine to test on, you'll have to figure out a different way to get your history into ArchiveBox if you don't have a way to run the bash script or share your data dir with archivebox.

[2021-03-16 14:36] voarsh2 commented on #663
Unlikely, even when I install Chrome, it doesn't let me specify an install location.
Only thing I can think of is move the Appdata app location to a shared NFTS drive... not ideal.
The project should really think of running this like an actual web service. If I have lots of data to "archive" I'm hardly going to run this on a desktop computer, unless I have tons of hdd's/USB harddrives. Average use

[2021-03-16 15:45] JohnMaguire commented on #621
@thentoorglan-x What issue are you experiencing? Your logs do not include the error reported in the original post here (which is regarding a missing config.cfg). Your logs appear as though the service started up correctly. I'd advise you file a new ticket clearly describing what you're experiencing versus what you expected.

[2021-03-16 18:53] pirate commented on #663
I run it as a web service in a docker container on Linux, and on my desktop Mac. I don't archive all my history (it would quickly fill many terabytes). Much easier to archive a subset of your history using bookmarks or a tool like pocket / pinboard, and send that to your vm.

[2021-03-16 18:57] voarsh2 commented on #663
Yes, but when you say VM, you mean like oracle box, or some wsl2 or something like that on a normal PC.
I have TB's of storage... not a problem.
I just can't get my browsing data to a remote machine for ArchiveBox.
The project in it's current state isn't fit for my purpose, which is sad for me. But I'm sure it works for many who only have a handful of sites to archive and don't have dedicated hard

[2021-03-16 19:29] pirate commented on #663
No it's a dedicated VM running in the cloud, not on a local PC. Why not rsync your data dir to the server periodically?

[2021-03-16 20:29] voarsh2 commented on #663
What folder exactly needs to go to the remote?
I am using a Chromium browser (not official Chrome). Userdata folder?

[2021-03-16 21:08] pirate commented on #663
Yup, whatever folder contains the `Default` folder (your default chrome profile).

`C:\Users\<username>\AppData\Local\Google\Chrome\User Data\Default`  <- not this
`C:\Users\<username>\AppData\Local\Google\Chrome\User Data`  <- this one

Chromium is what archivebox uses (not chrome), so it should be fine, just make sure  you're on or near the latest version.

[2021-03-17 00:59] voarsh2 commented on #663
Closing for now.
I will need to check that Rsync works with Windows, perhaps I can write a batch script that'll send it to my NFTS share.
Thanks.

[2021-03-17 00:59] #663 closed

[2021-03-18 12:36] lgwapnitsky opened #664 "Bug: SAVE_MEDIA=False config option not being respected, media still downloaded"
I have SAVE_MEDIA = False in my config, yet youtube videos, etc. are still being downloaded.

Please advise.

[2021-03-18 17:11] pirate commented on #664
Oh strange, I'll investigate.

In the meantime you can set USE_YOUTUBEDL=False or YOUTUBEDL_BINARY=/bin/false

[2021-03-19 07:20] indahud opened #665 "Feature Request: ..."
## Type

 - [x] Propose a brand new feature

## What is the problem that your feature request solves
If this feature implemented then we can view keywords with the links and filter links according to the keywords.

## Describe the ideal specific solution you'd want, and whether it fits into any broader scope of changes
There should be option to add some category keywords with link and filter the l

[2021-03-19 15:58] dohlin opened #667 "Bug: Fresh Ubuntu 20.04 Install, Error: [X] The search backend threw an exception=[Errno -3] Temporary failure in name resolution:"
#### Describe the bug
Clean docker-compose install on Ubuntu 20.04, running

`docker-compose run archivebox add 'https://example.com'`

results in the following error:

`[X] The search backend threw an exception=[Errno -3] Temporary failure in name resolution:`

DNS works fine and no errors are reported in 'archivebox --version'.  Error occurs on all URL's; there is nothing 'temporary' about it.

[2021-03-19 19:14] fire opened #668 "Question: How to achive 3d assets for the long term?"
My thoughts is a combination of having archive box save the asset as a Blender file and as a gltf2.

However, there's layers of problems here.

Any suggestions.

[2021-03-20 04:41] pirate commented on #665
This is called tags and it already exists in ArchiveBox.

Related tickets:

- https://github.com/ArchiveBox/ArchiveBox/issues/641
- https://github.com/ArchiveBox/ArchiveBox/issues/634

[2021-03-20 04:41] #665 closed

[2021-03-20 04:43] pirate commented on #667
Please post the full verbatim output of `'archivebox --version`.

Also run this command and report back any errors: `docker-compose run --rm archivebox update --index-only`.

[2021-03-20 04:45] pirate commented on #668
What do you mean by 3d assets? Can you provide some examples of URLs and formats that you'd expect it to be able to save?

[2021-03-20 05:12] dohlin commented on #667
`docker-compose run --rm archivebox --version`:

[code]

`docker-compose run --rm archivebox update --index-only`:

[code]

[2021-03-20 15:27] fire commented on #668
Thanks for your prompt reply.

1. (gltf without animations) https://3d.si.edu/object/3d/command-module-apollo-11:d8c63e8a-4ebc-11ea-b77f-2e728ce88125
2. (blend) https://cloud.blender.org/p/gallery/5e46a80442fa9613e1cd1fca
3. (blend) https://cloud.blender.org/p/gallery/60337d495677e942564cce76
4. (gltf with culturally significant animations) https://sketchfab.com/3d-models/fortnite-floss-emote-0a52

[2021-03-22 17:50] pirate commented on #668
I think the best way to go about this is to find an existing program that can look for these assets on a page (given some html or a url) and add it as an extractor module to archivebox.

I don't know the 3D space at all, so I'm probably not the right person for this, but I'm happy to review PRs or design proposals for such an extractor.

[2021-03-24 05:52] thejdev opened #672 "Feature Request: ..."
## Type

 - [ ] General question or discussion
 - [x] Propose a brand new feature
 - [ ] Request modification of existing behavior or design

## What is the problem that your feature request solves
I would like to read archived articles using an RSS reader.

## Describe the ideal specific solution you'd want, and whether it fits into any broader scope of changes
It would be good if Archivebox _cre

[2021-03-24 18:14] pirate commented on #672
Cool idea, probably not too hard to do. It's not high up on my personal list of TODOs so I can't promise it'll get done soon, but if someone wants to contribute a PR I'm happy to review it.

Would also not be too much additional work to allow getting a filtered feed by passing django filter kwargs, e.g.:

`/api/rss`
`/api/rss?tags__in=sometag,someothertag`
`/api/rss?tags__includes=sometag,someothe

[2021-03-24 18:45] voarsh2 opened #673 "How to search for site URL?"
I have various sites and urls for different parts of a site indexed, however, searching for URLs don't seem to work, at all.
The only thing what works with search using the UI is the website title, which isn't good enough for me.

Any work arounds?